::-webkit-scrollbar, ::-webkit-scrollbar:vertical, ::-webkit-scrollbar:horizontal {
    display: none;
    height: 0;
    width: 0;
    visibility: hidden;
}

*::-webkit-scrollbar, *::-webkit-scrollbar:vertical, *::-webkit-scrollbar:horizontal {
    display: none;
    height: 0;
    width: 0;
    visibility: hidden;
}

body {
    margin: 0;
    height: 100%;
    width: 100vw;
    background: radial-gradient(circle, #740000 7%, #590000 59%, #590000 87%, #740000 104%);
    overflow: hidden;
    position: absolute;
    font-size-adjust:none;
    text-size-adjust:none;
    scrollbar-width: none;
    touch-action:pan-y;
    -webkit-tap-highlight-color:#fff0;
    -webkit-touch-callout:none;
    -webkit-user-drag:none;
}

@font-face {
    font-family: CS;
    src: url("../Duw/14.ttf") format("truetype");
}

@font-face {
    font-family: Pyccknn;
    src: url("../Duw/Pyccknn.ttf") format("truetype");
}

a, a:hover, a:focus, a:active, a:link, a:visited {
color:inherit;
text-decoration:none;
}

.CAST______________ {
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, #740000 7%, #590000 59%, #590000 87%, #740000 104%);
    transition: all .14s ease-in-out;
    opacity: 1;
    z-index: 140;
    pointer-events: none;
    position: fixed;
}

.CASTVECTOR {
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, #74000048 14%, #59000048 59%, #590000 87%, #740000 104%);
    backdrop-filter: blur(28px);
    transition: all .48s ease-in-out;
    opacity: 1;
    z-index: 74;
    pointer-events: none;
    position: fixed;
}
.CAST124 {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    user-select:none;
}
.T {
    height: 100%;
    width: 28vw;
    background: url("C.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0 solid #fff0;
    border-image-source: linear-gradient(to bottom, transparent 1.4%, white 14%, transparent 34%, transparent 59%, white 87%, transparent 97.43%);
    border-image-slice: 1.4%;
    border-image-width: 2px;
    border-image-outset: 4px;
    border-image-repeat: stretch;
    filter: drop-shadow(0px 0px 1.4px #ff0000);
    animation-name: Cast_;
    animation-duration: 74s;
    animation-timing-function: ease-in-out;
    animation-delay: 4.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    transition: all 1.04s ease-out;
    box-shadow: -1.4px 0px 2.8px 0px inset #ff000074, 0px 0px 4.8px 0px #ff000074;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 14;
    scrollbar-width: none;
    touch-action:pan-y;
}

@keyframes Cast_ {
    0% {
        filter: drop-shadow(0px 0px 1.4px #ff0000);
    }

    14% {
        filter: drop-shadow(0px 0px 4.8px #ff0000);
    }

    100% {
        filter: drop-shadow(0px 0px 1.4px #ff0000);
    }
}

@media (max-width: 2550px) {
    .T {
        border-image-width:1px;
    }
}

.C {
    margin: 0;
    height: auto;
    width: 100%;
    background:#fff0;
    filter:blur(0px);
    transition:filter .48s .14s ease-in-out, background .48s .28s ease-in-out;
    position: relative;
}

.T14 {
    display: none;
    height: 100vh;
    width: 28vw;
    background: url("C.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0 solid #fff0;
    border-image-source: repeating-radial-gradient(#140000 14px, #fff 59px, #280000 140px);
    border-image-slice: 228;
    border-image-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    filter: drop-shadow(0px 0px 1px #f40);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.B {
    margin: 4vh 0 8vh 0;
    font-family: CS;
    color: #fff;
    font-size: 2.8vw;
    word-spacing: .14px;
    letter-spacing: .14px;
    font-weight: 900;
    text-align: center;
    text-shadow: 1px -1px 0px #000, -1px 0px 4px #000;
    font-variant: small-caps;
    line-height: 104%;
    filter: drop-shadow(0px 0px 4px #590000);
    transition: all .28s ease-in-out;
    white-space: nowrap;
    text-wrap: nowrap;
    cursor: pointer;
    user-select: none;
    padding: 0px 14px 0px 14px;
    pointer-events: all;
}

.B:first-child {
    margin: 0 0 7.4vh 0;
    padding-top: 4.08vh;
}

.B:nth-child(22) {white-space: wrap;text-wrap: wrap;}
.B:nth-child(63) {white-space: wrap;text-wrap: wrap;}
.B:nth-child(64) {white-space: wrap;text-wrap: wrap;}
.B:nth-child(65) {white-space: wrap;text-wrap: wrap;}

.B.Cast {
    color: #ff000074;
    text-shadow: 0 -1px 1px #fff, -1px 1px 0px #000;
    filter: drop-shadow(0px 0px 1.4px #000);
    transition: all .48s ease-in-out;
}

.B:hover {
    color: #ff000074;
    text-shadow: 0 -1px 1px #fff, -1px 1px 0px #000;
    filter: drop-shadow(0px 0px 1.4px #000);
    transition: all .19s ease-in-out;
}

.B i {
    font-size: 1.4vw;
    color: #fff0;
    word-spacing: 1.24px;
    letter-spacing: 1.9px;
    font-weight: 100;
    font-variant: all-small-caps;
    text-shadow: 2.8px 2.8px 4.8px #ff0000, 2.8px 2.8px 1.4px #fff;
    line-height: 0;
    font-style: normal;
    transition: all .28s ease-in-out;
    opacity: .14;
}

@media (max-width:1240px) {
.B i {
    font-size: 1.9vw;
}
}

.B i b {
    font-weight: 900;
    font-style: italic;
}

.B:hover i {
    text-shadow: 2.8px 2.8px 2.8px #fff, 2.8px 2.8px 1.4px #fff;
    transition: all .19s ease-in-out;
    opacity: 1;
}

.B.Cast i {
    text-shadow: 2.8px 2.8px 2.8px #fff, 2.8px 2.8px 1.4px #fff;
    transition: all .19s ease-in-out;
    opacity: 1;
}

.B p {
    margin: -10.4% 0 0 0;
    display: block;
}

@media (max-width: 1700px) {
    .B {
        font-size: 3.04vw;
    }
}

@media (max-width: 1400px) {
    .B {
        margin: 2.8vh 0 7.4vh 0;
        font-size: 3.4vw;
        line-height: 109%;
    }
}

@media (max-width: 1240px) {
    .B {
        font-size: 4.8vw;
        white-space: wrap;
        text-wrap: wrap;
        padding: 0px 28px 0px 28px;
    }
    .B:nth-child(63) p {
    margin: -10.4% 0 -1.4vh 0;
    }
    .B:nth-child(64) p {
    margin: -10.4% 0 -1.4vh 0;
    }
    .B:nth-child(65) p {
    margin: -10.4% 0 -1.4vh 0;
    }
    .B:nth-child(67) {
    font-size: 4.08vw;
    line-height: 99%;
    }
}

.B.Casts {
    font-size: 3.4vw;
    cursor: default;
    pointer-events: none;
}

.B.Casts:hover {
    color: #fff;
    text-shadow: 0 -1px 1px #000, -1px 1px 0px #000;
    filter: drop-shadow(0px 0px 4px #590000);
}

@media (max-width: 1400px) {
    .B.Casts {
        font-size: 4.8vw;
    }
}

.B.Casts14_ {
    margin: 4vh 0 8vh .48vw;
    height: 12vw;
    width: 100%;
    display:none;
    background: url("14_.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0px 0px 28px #ff000074);
    mix-blend-mode: normal;
    padding: 0px 0px 0px 0px;
    pointer-events: none;
}

.B.Casts14_ video {height: 104%;width: 100%;filter: drop-shadow(0px 0px 14px #ff000028);object-fit: contain;overflow: hidden;}

.B.Casts14____ {
    margin: 4vh 0 8vh 0;
    height: 15.1%;
    width: 100%;
    display:none;
    background: url("14.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0px 0px 14px #ff0000);
    mix-blend-mode: luminosity;
    pointer-events: none;
}

@media (max-width: 1400px) {
    .B.Casts14____ {
        margin: 7.4vh 0 14vh 4.8px;
        height: 12vw;
        width: 100%;
        display: none;
        background: url("14.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        filter: drop-shadow(0px 0px 14px #ff0000);
        mix-blend-mode: luminosity;
        padding: 0px 0px 0px 0px;
        pointer-events: none;
    }
}


.CASTS {
    display: none;
}

.Vector {
    height: 100%;
    width: 74vw;
    transition: all 1.04s ease-out;
    border: none;
    overflow: hidden;
}

.Vector iframe {
    height: 104%;
    width: 74vw;
    transition: all 1.04s ease-out;
    border: none;
    outline: none;
    scrollbar-width: none;
}

.R {
    display: flex;
    height: 100%;
    width: 74vw;
    justify-content: center;
    background: url("T.png");
    background-size: cover;
    background-position: bottom;
    user-select: none;
}

.WRITE {
    margin: 10.4vh 0 0 0;
    width: 100%;
    height: 28vh;
    min-height: 14%;
    font-family: CS;
    color: #fff0;
    font-size: 10.4vw;
    word-spacing: 14px;
    letter-spacing: 4px;
    font-weight: 100;
    font-variant: small-caps;
    line-height: 1;
    text-shadow: 0px 0px 14px #ff4800c9, 0px 0px 4px #ffffff74, 0px 0px 124px #f00;
    text-align: center;
    text-align-last: center;
    background: url("CAST.webp");
    background-size: cover;
    background-position: 0% 14%;
    -webkit-background-clip: text;
    background-clip: text;
}

@media (max-width: 1400px) {
    .WRITE {
        font-size: 14vw;
    }
}

@media (max-width: 1400px) and (max-height:740px) {
    .WRITE {
     
    }
}

@media (max-width: 1400px) and (min-height:900px) {
    .WRITE {
        margin: 4.8vh 0 0 0;
        min-height: 48%;
        width: 74%;
        font-size: 19vh;
        line-height: 90%;
    }
}

@media (max-width: 1400px) and (min-height:1400px) {
    .WRITE {
        margin: 7.4vh 0 0 0;
        min-height: 48%;
        font-size: 15.1vh;
        line-height: 109%;
    }
}

.RENDER124 {
    display: flex;
    height: 40.8%;
    width: 48%;
    justify-content: center;
    bottom: 12.4%;
    background: #ff000014;
    backdrop-filter: blur(4px);
    border: 0 solid #fff0;
    border-image-source: repeating-radial-gradient(#fff0, #fff 74%, #fff0);
    border-image-slice: 1.4%;
    border-image-width: 1px;
    border-image-outset: 2px;
    border-image-repeat: stretch;
    box-shadow: 0 0 4px 4px inset #ffffff14;
    position: fixed;
}

@media (max-width: 2550px) {
    .RENDER124 {
        display: flex;
        height: 48%;
        width: 48%;
        justify-content: center;
        bottom: 7.4%;
        background: #ff000014;
        backdrop-filter: blur(4px);
        border: 0 solid #fff0;
        border-image-source: repeating-radial-gradient(#fff0, #fff, #fff0);
        border-image-slice: 1.4%;
        border-image-width: 1px;
        border-image-outset: 2px;
        border-image-repeat: stretch;
        box-shadow: 0 0 4px 4px inset #ffffff14;
        position: fixed;
    }
}

@media (max-width: 1240px) {
    .RENDER124 {
        display:flex;
        height: 59%;
        width: 59%;
        justify-content: center;
        bottom: 4.8vh;
        background: #ff000014;
        backdrop-filter: blur(4px);
        border: 0 solid #fff0;
        border-image-source: repeating-radial-gradient(#fff0, #fff, #fff0);
        border-image-slice: 1.4%;
        border-image-width: 1px;
        border-image-outset: 2px;
        border-image-repeat: stretch;
        box-shadow: 0 0 4px 4px inset #ffffff14;
        position: fixed;
    }
}

@media (max-width: 1200px) and (min-height:1200px) {
    .RENDER124 {
        height: 48%;
        width: 59%;
        bottom: 4.8vh;
    }
}

@media (max-width: 1400px) and (min-height: 1040px) {
    .RENDER124 {
        height: 44.8%;
        width: 59%;
        bottom: 7.4vh;
    }
}

@media (min-width: 1400px) and (min-height: 943px) and (max-width: 1600px) {
    .RENDER124 {
        height: 34%;
        width: 48%;
        bottom: 14%;
    }
}

@media (max-width: 1400px) and (min-height:900px) {
    .RENDER124 {
    height: 48%;
    bottom: 5.9vh;
    }
}

.rendertext {
    margin: 7.4% 5.9% 0 5.9%;
    display: flex;
    height: 140px;
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 1400px) {
    .rendertext {
        margin:4.8vh 1.4vw 0 0;
        display: flex;
        height: 19vh;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1240px) {
    .rendertext {
        margin: 7.4vh 1.4vw 0 0;
        display: flex;
        height: 20.8vh;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-height: 1024px) and (max-width:1240px) {
    .rendertext {
        margin: 5.9vh 1.4vw 0 0;
        height: 40.8%;
    }
}

@media (max-width: 1200px) and (min-height:1200px) {
    .rendertext {
        margin: 4.8vh 1.4vw 0 0;
        height: 34%;
    }
}

@media (max-width: 1400px) and (min-height:1090px) {
    .rendertext {
        margin: 4.8vh 1.4vw 0 0;
        height: 38%;
    }
}

@media (max-width: 1400px) and (min-height:1400px) {
    .rendertext {
        height: 34%;
    }
}

@media (max-width: 1400px) and (min-height:1500px) {
    .rendertext {
        height: 28%;
    }
}

@media (max-width: 1400px) and (min-height: 937px) {
    .rendertext {
        margin: 7.4% 1.4vw 0 0;
        height: 15.1vh;
    }
}

@media (max-width: 1400px) and (min-height:900px) {
    .rendertext {
        margin: 4.8vh 1.4vw 0 0;
        height: 38%;
    }
}

.text-box {
    display: flex;
    justify-content: right;
}

.title {
    font-family: CS;
    font-size: 1.24vw;
    color: #ffffff74;
    font-weight: 900;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-shadow: 0px 1px 1px #000, 1px 0px 1px #fff, 1px 1px 2px #f40, 2px 1px 2px #000;
    filter: drop-shadow(0 0 1px #140000);
    line-height: 0;
}

@media (max-width: 1400px) {
    .title {
        font-family:CS;
        font-size: 1.4vw;
        color: #ffffff74;
        font-weight: 900;
        word-spacing: 4px;
        letter-spacing: 1px;
        text-shadow: 0px 1px 1px #000, 1px 0px 1px #fff, 1px 1px 2px #f40;
        filter: drop-shadow(0 0 1px #140000);
        line-height: 0;
    }
}

@media (max-width: 1240px) {
    .title {
        font-family:CS;
        font-size: 2.8vw;
        color: #ffffff74;
        font-weight: 900;
        word-spacing: 4px;
        letter-spacing: 1px;
        text-shadow: 0px 1px 1px #000, 1px 0px 1px #fff, 1px 1px 2px #f40;
        filter: drop-shadow(0 0 1px #140000);
        line-height: 0;
    }
}

@media (min-height: 740px) and (max-width: 1400px) {
    .title {
        font-size: 1.9vw;
    }
}

@media (max-height: 1024px) and (max-width:1240px) {
    .title {
        font-size: 1.9vw;
    }
}

@media (min-width: 1240px) and (min-height: 1400px) and (max-width:1400px) {
    .title {
        font-size: 2.8vw;
    }
}

@media (max-width: 1400px) and (min-height:1090px) {
    .title {
        font-size: 2.08vw;
    }
}

@media (max-width: 1240px) and (min-height: 900px) {
    .title {
        font-size: 2.08vw;
    }
}

@media (max-width: 1400px) and (min-height:900px) {
    .title {
        font-size: 2.8vh;
    }
}

.number {
    margin: 2.48% 1.4% 0 0;
    font-family: CS;
    font-size: 1.19vw;
    color: #ffffff74;
    font-weight: 900;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-shadow: 0px 1px 1px #000, 1px 0px 1px #fff, 1px 1px 2px #f40;
    filter: drop-shadow(0 0 1px #140000);
    line-height: 0;
    position: fixed;
}

@media (max-width: 1240px) {
    .number {
        margin: 3.4% 0 0 28%;
        font-family: CS;
        font-size: 1.9vw;
        color: #ffffff74;
        font-weight: 900;
        word-spacing: 4px;
        letter-spacing: 1px;
        text-shadow: 0px 1px 1px #000, 1px 0px 1px #fff, 1px 1px 2px #f40;
        filter: drop-shadow(0 0 1px #140000);
        line-height: 0;
        position: fixed;
    }
}

@media (min-height: 740px) and (max-width: 1400px) {
    .number {
        margin: 3.4% 1.4% 0 0;
        font-size: 1.51vw;
    }
}

@media (max-height: 972px) and (max-width: 1240px) {
    .number {
        margin: 3.4% 2.48% 0 0;
        font-size: 1.9vw;
    }
}

@media (max-height: 1024px) and (max-width: 1240px) {
    .number {
        margin: 2.8% 1.9% 0 0;
        font-size: 1.51vw;
    }
}

@media (min-width: 1240px) and (min-height: 1400px) and (max-width:1400px) {
    .number {
        margin: 4.8% 2.8% 0 0;
        font-size: 2.08vw;
    }
}

@media (max-width: 1400px) and (min-height:1090px) {
    .number {
        margin: 3.4% 1.4% 0 0;
        font-size: 1.9vw;
    }
}

@media (max-width: 1240px) and (min-height:900px) {
    .number {
        margin: 3.4% 1.4% 0 0;
        font-size: 1.9vw;
    }
}

@media (max-width: 1400px) and (min-height: 1040px) {
    .number {
        margin: 3.4% 1.4% 0 0;
        font-size: 1.9vw;
    }
}

@media (max-width: 1400px) and (min-height:900px) {
    .number {
        margin: 2.28vh 1.04vh 0 0;
        font-size: 2.08vh;
    }
}

.CAST____ {
    text-indent: 28%;
}

.description {
    margin: 3.4% 4.8% 0 0;
    font-family: CS;
    font-size: 1.24vw;
    color: #ff000074;
    font-weight: 900;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-shadow: 0px 1px 1px #000, 1px 0px 1px #fff, 1px 1px 2px #f40;
    font-variant: small-caps;
    filter: drop-shadow(0 0 1px #140000);
    line-height: 0;
    position: fixed;
}

@media (max-width: 1240px) {
    .description {
        margin: 4.8% 0 0 15.1%;
        font-family: CS;
        font-size: 2.08vw;
        color: #ff000074;
        font-weight: 900;
        word-spacing: 4px;
        letter-spacing: 1px;
        text-shadow: 0px 1px 1px #000, 1px 0px 1px #fff, 1px 1px 2px #f40;
        font-variant: small-caps;
        filter: drop-shadow(0 0 1px #140000);
        line-height: 0;
        position: fixed;
    }
}

@media (min-height: 740px) and (max-width: 1400px) {
    .description {
        margin: 4.08% 5.9% 0 0;
        font-size: 1.51vw;
    }
}

@media (max-height: 972px) and (max-width: 1240px) {
    .description {
        margin: 4.8% 7.4% 0 0;
        font-size: 1.9vw;
    }
}

@media (max-height: 1024px) and (max-width: 1240px) {
    .description {
        margin: 3.4% 5.9% 0 0;
        font-size: 1.51vw;
    }
}

@media (min-width: 1240px) and (min-height: 1400px) and (max-width: 1400px) {
    .description {
        margin: 5.9% 10.4% 0 0;
        font-size: 2.28vw;
    }
}

@media (max-width: 1400px) and (min-height:1090px) {
    .description {
        font-size: 1.9vw;
    }
}

@media (max-width: 1400px) and (min-height:1240px) {
    .description {
        margin: 4.08% 5.9% 0 0;
        font-size: 2.28vw;
    }
}

@media (max-width: 1240px) and (min-height:900px) {
    .description {
        margin: 4.08% 5.9% 0 0;
        font-size: 1.9vw;
    }
}

@media (max-width: 1400px) and (min-height: 1040px) {
    .description {
        margin: 3.8% 5.9% 0 0;
        font-size: 1.9vw;
    }
}

@media (max-width: 1400px) and (min-height:900px) {
    .description {
        margin: 2.8vh 4.08vh 0 0;
        font-size: 2.48vh;
    }
}

.CAST________ {
    text-indent: 7.4%;
}

@media (max-width: 1240px) {
    .CAST________ {
        text-indent: 14%;
    }
}

.WORDTHEREOF {
    display: flex;
    height: 48px;
    width: 80%;
    font-family: CS;
    color: #fff;
    font-size: 0.74vw;
    word-spacing: 0;
    letter-spacing: 2px;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    text-align-last: center;
    flex-wrap: wrap;
    bottom: 9vh;
    position: fixed;
}

.WORDTHEREOF a {
    transition: all .48s ease-in-out;
}

.WORDTHEREOF a:hover {
    color: #ff000074;
    text-shadow: 0 -1px 1px #fff, -1px 1px 0px #000;
    filter: drop-shadow(0px 0px 1.4px #000);
    transition: all .14s ease-in-out;
}

.PYCCKNN {
    font-family: Pyccknn;
}

@media (max-width: 1400px) {
    .WORDTHEREOF {
        display:flex;
        height: 10.4vh;
        width: 80%;
        font-family: CS;
        color: #fff;
        font-size: 0.9vw;
        word-spacing: 0;
        letter-spacing: 2px;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        text-align-last: center;
        flex-wrap: wrap;
        bottom: 2.8vh;
        position: fixed;
    }
}

@media (max-width: 1240px) {
    .WORDTHEREOF {
        display:flex;
        height: 12.4vh;
        width: 80%;
        font-family: CS;
        color: #fff;
        font-size: 1.4vw;
        word-spacing: 0;
        letter-spacing: 2px;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        text-align-last: center;
        flex-wrap: wrap;
        bottom: 4.8vh;
        position: fixed;
    }
}

@media (min-height: 740px) and (max-width: 1400px) {
    .WORDTHEREOF {
        font-size: 1.04vw;
    }
}

@media (max-height: 740px) and (max-width: 1240px) {
    .WORDTHEREOF {
        font-size: 1.04vw;
    }
}

@media (min-width: 1240px) and (min-height: 1400px) and (max-width:1400px) {
    .WORDTHEREOF {
        font-size: 1.4vw;
    }
}

@media (min-width: 1441px) and (min-height: 970.43px) and (max-width:1600px) {
    .WORDTHEREOF {
        bottom: 4.8vh;
    }
}

@media (max-width: 1400px) and (min-height:900px) {
    .WORDTHEREOF {
        height: 10.4vh;
        font-size: 15.1px;
        max-height: 190px;
        bottom: 7.4%;
    }
}

.BookC {
    margin: 0;
    height: 100%;
    width: 10.4vw;
    display: flex;
    background: none;
    flex-direction: column;
    filter: drop-shadow(0px 0px 1.4px #ff0000)blur(0px);
    justify-content: center;
    left: 28%;
    transition: left 1.04s ease-out, opacity .28s ease-in-out;
    box-shadow: 0px 0px 0px 0px inset #fff0;
    opacity: 0;
    scale: 2.448;
    transform-origin: left;
    padding: 0px 0px 0px 14px;
    z-index: 48;
    position: fixed;
    pointer-events: none;
    user-select: none;
}

.BookC:hover {
    opacity: 1!important;
}

@media (max-width:2800px) {
.BookC {width: 19vw;scale: 1.4;}
}

@media (max-width:2248px) {
.BookC {scale:1;}
}

@media (max-width:1800px) {
.BookC {left: 24.48%;}
}

@media (max-width:1400px) {
.BookC {
    margin: 1.4% 0 0 0;
    height: auto;
    width: auto;
    left: 0.14vw;
}
}

@media (max-width:1024px) {
.BookC {margin: 4.8px 0 0 -14px;}
}

.BookC.CAST______________ {
    animation-name: Cast__________;
    animation-duration: .28s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@media (max-width:1400px) {
    .BookC.CAST______________ {
        animation-name: Cast__________;
        animation-duration:0s;
        animation-timing-function: ease-in-out;
        animation-iteration-count:0;
        animation-fill-mode: forwards;
    }
}

@keyframes Cast__________ {
    0% {
        filter: drop-shadow(0px 0px 1.4px #ff0000)blur(0px);
        box-shadow: 0px 0px 0px 0px inset #fff0;
    }

    48% {
        filter: drop-shadow(0px 0px 4.8px #ff0000)blur(14px);
        box-shadow: 4.8vw 0 48px 14px inset #740000;
    }

    100% {
        filter: drop-shadow(0px 0px 1.4px #ff0000)blur(0px);
        box-shadow: 0px 0px 0px 0px inset #fff0;
    }
}

.Slate {
    margin: 0px 0px 2.8px 0px;
    height: 28px;
    width: 28px;
    background: url("C____.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0px 0px 4.8px #fff0);
    transition: all .28s ease-in-out;
    cursor: pointer;
}

.Slate:hover {
    filter: drop-shadow(0px 0px 1.4px #fff);
}

.Slate p {
    margin: -140% 0 0 0;
    font-family: 'CS';
    font-size: .408vw;
    color: #484848;
    font-variant: small-caps;
    font-weight: 900;
    word-spacing: 2.8px;
    letter-spacing: 1.4px;
    text-shadow: 0px -1px 0px #fff, -1px 1px 1px #000;
    filter: drop-shadow(0px 0px 0px #000)blur(14px);
    width: 140px;
    background: linear-gradient(to right, #740000, #48000048);
    text-align: center;
    white-space: nowrap;
    text-wrap: nowrap;
    transition: all .48s ease-in-out;
    border: 0 solid #fff0;
    border-image-source: linear-gradient(#fff, #fff0 74%, #fff0);
    border-image-slice: 1.4%;
    border-image-width: 1.04px;
    border-image-outset: 7.4px;
    border-image-repeat: stretch;
    box-shadow: 0px 0px 28px 0px inset #ff000048, 0px 0px 1.4px 0px #ff0000;
    border-radius: 1.4px;
    left: -.14vw;
    opacity: 0;
    position: relative;
    pointer-events: none;
}

@media (max-width: 2800px) {
.Slate p {
    font-size: 15.1px;
}
}

@media (max-width: 2000px) {
.Slate p {
    font-size: 14px;
}
}

@media (max-width: 1400px) {
.Slate p {display: none;font-size: 0px;opacity: 0!important;}
}

.Slate:hover p {
    filter: drop-shadow(0px 0px 0px #000)blur(0px);
}

.Open {
    margin: 2.8px 0px 0px 0px;
    height: 28px;
    width: 28px;
    background: url("C________.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0px 0px 4.8px #fff0);
    transition:all .28s ease-in-out;
    cursor: pointer;
}

.Open:hover {
    filter: drop-shadow(0px 0px 1.4px #fff);
}

.Open p {
    margin: 190% 0 0 0;
    font-family: 'CS';
    font-size: .408vw;
    color: #484848;
    font-variant: small-caps;
    font-weight: 900;
    word-spacing: 2.8px;
    letter-spacing: 1.4px;
    text-shadow: 0px -1px 0px #fff, -1px 1px 1px #000;
    filter: drop-shadow(0px 0px 0px #000)blur(14px);
    width: 140px;
    background: linear-gradient(to right, #740000, #48000048);
    text-align: center;
    white-space: nowrap;
    text-wrap: nowrap;
    transition: all .48s ease-in-out;
    border: 0 solid #fff0;
    border-image-source: linear-gradient(#fff0, #fff0 19%, #fff);
    border-image-slice: 1.4%;
    border-image-width: 1.04px;
    border-image-outset: 7.4px;
    border-image-repeat: stretch;
    box-shadow: 0px 0px 28px 0px inset #ff000048, 0px 0px 1.4px 0px #ff0000;
    border-radius: 1.4px;
    left: -.14vw;
    opacity: 0;
    position: relative;
    pointer-events: none;
}

@media (max-width: 2800px) {
.Open p {
    font-size: 15.1px;
}
}

@media (max-width: 2000px) {
.Open p {
    font-size: 14px;
}
}

@media (max-width: 1400px) {
.Open p {
display: none;
font-size: 0px;
opacity: 0!important;
}
}

.Open:hover p {
    filter: drop-shadow(0px 0px 0px #000)blur(0px);
}

.C____ {margin: 44.8vh 0 0 0;display: flex;height: 10.4vw;width: 100vw;background: linear-gradient(#ff000074, #480000);justify-content: center;border: 0 solid #fff0;border-image-source: repeating-radial-gradient(#fff0, #fff0, #fff 74%, #000);border-image-slice: 1.4%;border-image-width: 1px;border-image-outset: 1px;border-image-repeat: stretch;box-shadow: 0px 0px 1.4px 4.8px inset #480000, 0px 0px 4.8px 4.8px #ff000028;transition: all .14s ease-in-out;opacity: 0;z-index: 74;position: fixed;pointer-events: none;}

.C____ p {margin: 0;width: 100%;font-family: CS;font-size: 10.4vw;color: #740000;word-spacing: 14px;font-variant: all-small-caps;font-weight: 900;line-height: 7.4vw;letter-spacing: .48px;text-align: center;text-wrap: nowrap;text-shadow: -2px 3px 2px #000, 0px 2px 0px #f50;filter: drop-shadow(0px -1px 2px #000);backdrop-filter: blur(7.4px);white-space: nowrap;padding: 4.8px 0 0 0;}

.TIBS {
    display: flex;
    height: 100.9%;
    width: 27.34vw;
    left: 0;
    background: linear-gradient(#fff0 90%, #590000 97.34%), linear-gradient(#480000 4.8px, #fff0 2.8%);
    transition: all 1.04s ease-out;
    z-index: 48;
    user-select: none;
    pointer-events: none;
    position: fixed;
};ed;
};