::-webkit-scrollbar, ::-webkit-scrollbar:horizontal, ::-webkit-scrollbar:vertical {
display:none;
visibility:hidden;
width:0px;
height:0px;
scrollbar-width:none;
}

*::-webkit-scrollbar, *::-webkit-scrollbar:horizontal, *::-webkit-scrollbar:vertical {
display:none;
visibility:hidden;
width:0px;
height:0px;
scrollbar-width:none;
}

::-webkit-scrollbar-thumb {
display:none;
visibility:hidden;
width:0px;
height:0px;
}

::-webkit-scrollbar-track-piece {
display:none;
visibility:hidden;
width:0px;
height:0px;
}


::-webkit-scrollbar-track {
display:none;
visibility:hidden;
width:0px;
height:0px;
}

::-webkit-scrollbar-button {
display:none;
visibility:hidden;
width:0px;
height:0px;
}

::-webkit-scrollbar-corner {
display:none;
visibility:hidden;
width:0px;
height:0px;
}

::selection {
color:#fff;
background:#ffffff00;
}

::-moz-selection {
color:#fff;
background:#ffffff00;
}

html, html * {
margin:0px;
scrollbar-width:none;
}

@font-face {
font-family: 'Ser';
src: url('dDilema.ttf') format('truetype');
}

a, a:link, a:hover, a:focus, a:active, a:visited {
color:inherit;
text-decoration:none;
}

body {
background-color:#fff0;
overflow:hidden;
margin:0;
scrollbar-width:none;
user-select:none;
cursor:Cell;
}

.ReloadingsH49 {
	position: relative;
	top: -41vh;
	width: 700px;
	height: 394px;
	overflow: hidden;
	user-select:none;
	pointer-events:none;
}

.player {
    position: relative;
    background-color: #0000;
    width: 700px;
    height: 140px;
    border-radius: 1px;
    z-index: 1;
}
.player:hover .mask {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 1s;
}
.player .like {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 15px;
  right: 20px;
  z-index: 15;
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 38px;
  color: #f2f2f2;
  border-radius: 50%;
  text-align: center;
}
.player .icon-heart {
  display: block;
}
.player .mask {
  width: 100%;
  height: 23%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 2;
  transition: all 1s;
}
.player-info {
  position: absolute;
  max-width: 414px;
  top: 1rem;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 4;
  margin: 0 0 0 18px;
  padding: 0;
  list-style: none;
  color: #be0000;
  transform: scale(1);
}
.player-info li {
  margin-bottom: 7px;
}
.player-info li:nth-child(1) {
	font-size: 4rem;
	font-weight: 100;
	word-spacing: 18px;
	color: #ff0000;
	font-family: Ser;
	letter-spacing: 1px;
	line-height: 58px;
	font-variant-caps: small-caps;
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	overflow: revert;
	overflow-wrap: revert;
	text-align: left;
	text-align-last: left;
	text-shadow: -1px 2px 1px #000, 0px 2px 2px #f00;
	filter: drop-shadow(0px 0px 2px #000);
	transition: .24s ease-in-out;
}
.player-info li:nth-child(2) {
	font-size: 1rem;
	font-weight: 100;
	word-spacing: 18px;
	color: #587284;
	font-family: Ser;
	letter-spacing: 4px;
	line-height: 0px;
	text-indent: 12rem;
	margin: 0;
	margin-block-start: -7px;
	margin-block-end: 0;
	overflow: revert;
	overflow-wrap: revert;
	text-align: left;
	text-align-last: left;
	text-shadow: 2px -1px 0 #000;
	filter: drop-shadow(0 0 1px #f40);
	transition: .24s ease-in-out;
}
.player .info-two {
  z-index: 4;
}
.player .info-two li:nth-child(1) {
	font-size: 1rem;
	font-weight: 100;
	word-spacing: 8px;
	color: #a8a8a9;
	font-family: sans-serif;
	letter-spacing: 0px;
	line-height: 14px;
	font-variant-caps: small-caps;
	margin: 0;
	margin-block-start: 108px;
	margin-block-end: 0;
	overflow: revert;
	overflow-wrap: revert;
	text-align: left;
	text-align-last: left;
	text-shadow: -1px 2px 1px #000, 0px 2px 2px #f00;
	filter: drop-shadow(0px 0px 2px #000);
	transition: .24s ease-in-out;
}
.player .info-two li:nth-child(2) {
	font-size: 4rem;
	font-weight: 100;
	word-spacing: 18px;
	color: #ff0000;
	font-family: Ser;
	letter-spacing: 1px;
	line-height: 41px;
	font-variant-caps: small-caps;
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	overflow: revert;
	overflow-wrap: revert;
	text-align: left;
	text-align-last: left;
	text-shadow: -1px 2px 1px #000, 0px 2px 2px #f00;
	filter: drop-shadow(0px 0px 2px #000);
	transition: .24s ease-in-out;
}
.player #play-button {
  box-sizing: border-box;
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 48%;
  background: linear-gradient(to right, #000008ca, #290000f8);
  mix-blend-mode: difference;
  box-shadow: 0 0 4px 1px #450000;
  right: 25px;
  bottom: 16px;
  z-index: 5;
  transition: all 70ms;
  border: none;
}
.player #play-button:hover {
  width: 100px;
  height: 100px;
  transition: all 70ms;
}
.player #play-button .icon-play {
  position: absolute;
  font-size: 2.8rem;
  left: 52%;
  top: 50%;
  transform: translate(-48%, -50%);
  transition: all 70ms;
  color: #ffffff;
}
.player #play-button:hover .icon-play {
  font-size: 2.8rem;
  transition: all 70ms;
}

.control-row {
  position: absolute;
  bottom: 0;
  width: 100%;
  mix-blend-mode: color-burn;
  height: 57px;
  background: linear-gradient(to right, #000008ca, #290000f8);
  overflow: hidden;
  z-index: 2;
}
.player #pause-button {
  box-sizing: border-box;
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: linear-gradient(to right, #290000f8, #000008ca);
  right: 25px;
  bottom: 16px;
  z-index: 99999;
  border: none;
  transform: scale(0);
  animation: scale-animation 0.4s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}
.player #pause-button .icon-pause {
  position: relative;
  top: -72px;
  right: 114px;
  font-size: 18rem;
  transition: all 0.1s;
  color: #fff0;
}
.player #pause-button .icon-play {
  position: relative;
  top: 0;
  right: 0;
  left: -20px;
  bottom: 0;
  font-size: 4rem;
  transition: all 0.1s;
  color: #424242;
}
.control-row .seek-field {
  bottom: 41px;
  left: 218px;
  position: absolute;
  width: 324px;
  z-index: 9999;
  transform: scale(0);
  animation: scale-animation 0.4s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}
.control-row .volume-field {
  bottom: 67px;
  right: 127px;
  position: absolute;
  width: 50px;
  z-index: 5;
  transform: scale(0);
  display: none;
  -webkit-animation: scale-animation 0.4s;
          animation: scale-animation 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.control-row .volume-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  bottom: 58px;
  right: 185px;
  z-index: 5;
  font-size: 1.2em;
  display: none;
  transform: scale(0);
  -webkit-animation: scale-animation 0.4s;
          animation: scale-animation 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.control-row .volume-icon .icon-volume-up {
  color: #424242;
}
.like-active {
  color: #ef5350;
  -webkit-animation: scale-animation 0.4s;
          animation: scale-animation 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes scale-animation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-animation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.waves-animation-one {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #5c6bc0;
  z-index: 3;
  left: 42.5%;
  bottom: 20%;
  transform: scale(0);
  -webkit-animation: waves-animation-one 0.25s;
          animation: waves-animation-one 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  display: none;
}
@-webkit-keyframes waves-animation-one {
  0% {
    transform: scale(1);
  }
  99% {
    transform: scale(7.8);
  }
  100% {
    transform: scale(7.8);
  }
}
@keyframes waves-animation-one {
  0% {
    transform: scale(1);
  }
  99% {
    transform: scale(7.8);
  }
  100% {
    transform: scale(7.8);
  }
}
.waves-animation-two {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #5c6bc0;
  z-index: 3;
  right: 40px;
  bottom: 35px;
  transform: scale(7.8);
  display: none;
  -webkit-animation: waves-animation-two 0.2s;
          animation: waves-animation-two 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes waves-animation-two {
  to {
    transform: scale(0);
  }
}
@keyframes waves-animation-two {
  to {
    transform: scale(0);
  }
}
.info-active {
  -webkit-animation: info-active-animation 3s;
          animation: info-active-animation 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.37s;
          animation-delay: 0.37s;
}
@-webkit-keyframes info-active-animation {
  to {
    bottom: 56.5%;
  }
}
@keyframes info-active-animation {
  to {
    bottom: 56.5%;
  }
}
.play-active {
  -webkit-animation: play-animation 0.3s;
          animation: play-animation 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"] + .thumb {
  display: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  animate: 0.2s;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
  background: #f2f2f2;
  border-radius: 0;
  border: 0px solid #000101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
  border: 0px solid transparent;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #009688;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #f2f2f2;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  animate: 0.2s;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
  background: #f2f2f2;
  border-radius: 0;
  border: 0px solid #000101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
  border: 0px solid transparent;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #009688;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
  padding-top: 5px;
}
input[type="range"]::-ms-fill-lower {
  background: #f2f2f2;
  border: 0px solid transparent;
  border-radius: 0;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
}
input[type="range"]::-ms-fill-upper {
  background: #f2f2f2;
  border: 0px solid transparent;
  border-radius: 0x;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
}
input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
  border: 0px solid transparent;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #009688;
  margin-top: 1px;
}
input[type="range"]::-ms-tooltip {
  display: none;
}
input[type="range"]::-ms-ticks {
  display: none;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #f2f2f2;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #f2f2f2;
}