*::-webkit-scrollbar {
display:none;
visibility:hidden;
scrollbar-width:none;
-ms-overflow-style:none;
}
body {
background:url('Skindead.png');
background-repeat:repeat;
background-attachment:fixed;
background-color:#000;
background-position:center center;
background-size:cover;
text-align:center;
margin:0px;
scrollbar-width:none;
-ms-overflow-style:none;
}
@font-face {
font-family: 'DIAGRAPH';
src: url('../Dia/Dia.otf') format('opentype');
}@font-face {
font-family: 'DIAGRAPH2';
src: url('../Dia/BDCalais.ttf') format('truetype');
}@font-face {
font-family: 'DIAGRAPH9';
src: url('../Dia/9Adipose.ttf') format('truetype');
}@font-face {
font-family: 'DIAGRAPHAdi';
src: url('../Dia/Seraphic.ttf') format('truetype');
}@font-face {
font-family: 'DIAGRAPHAdi9';
src: url('../Dia/ADega Serif Regular.otf') format('opentype');
}::-webkit-scrollbar, ::-webkit-scrollbar:horizontal, ::-webkit-scrollbar:vertical {
visibility:hidden;
width:0px;
scrollbar-width:none;
-ms-overflow-style:none;
display:none;
}::-webkit-scrollbar-corner {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-thumb {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-track-piece {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-button {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-track {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-corner {
visibility:hidden;
width:0px;
}::-moz-selection {
color:#450000;
background:#ff000018;
}::selection {
color:#450000;
background:#ff000018;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.HIGHLOWWORDOR {
margin-top:9px;
display:inline-flex;
justify-content:space-between;
width:91%;
}
.LGliolgap {
margin-top:12.3vh;
}
p.HIGHLOWWORDER {
font-size:18px;
text-align: center;
text-shadow:1px 15px 0px #000;
white-space: nowrap;
font-family:DIAGRAPH;
letter-spacing:0.06rem;
color:#540000;
}
p.WORDOF {
font-size:2vw;
font-weight:100;
word-spacing:0.81vw;
font-family:'DIAGRAPH9';
letter-spacing:1px;
margin-top:0;
margin-right:1vw;
margin-left:4vw;
transition:1s linear;
text-align:left;
color:#ff0000;
text-shadow:0 1px 0 #fb9b49, 0 2px 0px #9b8787, 0 3px 0 #750805, 0 4px 0 #ffc5a4, 0 5px 0 #90350b, 0 6px 9px rgb(118 118 118), 0px -4px 0px rgb(0 0 0 / 94%), 0 -1px 9px rgb(0 0 0 / 80%);
filter:drop-shadow(0px 0px 1px #ff9100);
}
p.WORDOF:hover {

}
p.WORDOF4 {
font-size:2vw;
font-weight:600;
line-height:4.321vh;
word-spacing:15px;
font-family:DIAGRAPH2;
letter-spacing:0px;
margin-top:0px;
padding-right:45px;
padding-left:45px;
color:#ff5400;
transition: 0.321s linear;
}
p.WORDOF4 b {
font-weight:900;
}
p.WORDOF2 {
font-size:9vw;
font-weight:100;
font-family:DIAGRAPH9;
letter-spacing:54px;
color:#ff5400;
transition: 0.321s linear;
animation-name:Adipose;
animation-duration:4s;
animation-delay:.0s;
animation-timing-function:ease-in-out;
filter:drop-shadow(0px 0px 2px #ff9100);
text-shadow:2px -1px 0px #fff;
}
@keyframes Adipose {
0% {
color:#1f0801;
filter:drop-shadow(0px 0px 6px #ff9100);
}
100% {
color:#ff5400;
filter:drop-shadow(0px 0px 2px #ff9100);
}
}
.CALGRADI {
position:fixed;
background:url('Calgrad.png');
background-repeat:repeat;
background-size:contain;
height:32.1vh;
width:100%;
bottom:0;
pointer-events:none;
z-index:1;
}
p.WORDOF2 b {
font-weight:900;
}
.ART {
display:inline;
}
.ART9 {
display:inline-flex;
margin-bottom:9vh;
}
.ART9 IMG {
width:48vw;
transition:.81s ease-in-out;
animation-name:AdiposeAQ;
animation-duration:9s;
animation-delay:.0s;
animation-timing-function:ease-in-out;
filter:saturate(100%)contrast(100%)sepia(0%);
}
@keyframes AdiposeAQ {
0% {
filter:saturate(45%)contrast(999%)sepia(72%);
}
100% {
filter:saturate(100%)contrast(100%)sepia(0%);
}
}
.ART2 {
float:right;
display:inline;
margin-right:54px;
}
.ART2 IMG {
max-width:32.1vw;
}
.ART3 {
float:right;
display:inline;
margin-right:54px;
}
.ART3 IMG {
max-width:45vw;
}
.ART4 {
float:left;
display:inline;
margin-left:45px;
}
.ART_One {
width:49vw;
max-width:49vw;
background:url('Skin.png');
background-repeat:repeat;
background-attachment:fixed;
background-position:center center;
background-size:cover;
}
.ART4 video {
max-width:36.9vw;
object-fit:cover;
}
.ART5 {
margin-left:45px;
}
.ART5 IMG {
max-width:36.9vw;
}
.date9 {
margin-top:15vh;
margin-bottom:23vh;
}
.date9 P {
font-size:0.801vw;
text-align:right;
font-weight:900;
word-spacing:4px;
font-family:DIAGRAPH2;
letter-spacing:0px;
padding-right:45px;
color:#ff5400;
transition: 0.321s linear;
}
.Vari {
display:inline;
width:100vw;
}
p.Vari9 {
font-family:DIAGRAPH9;
color:#2a1919;
text-decoration-line:overline;
text-decoration-color:rgba(1,1,1,.1);
font-weight:900;
font-size:1.11vw;
word-spacing:1vw;
letter-spacing:1px;
transition:.81s linear;
user-select:none;
}
p.Vari9 span {
font-family:DIAGRAPH9;
color:#403232;
font-weight:100;
font-size:1.45vw;
word-spacing:1vw;
letter-spacing:2px;
text-shadow:-1px 0px 18px #ff500045, 1px 0px 1px #ffc;
filter:drop-shadow(2px 0px 1px #ffff9991);
transition:.81s linear;
}
p.Vari9 span:hover {
transition:.27s linear;
filter:drop-shadow(2px 0px 0px #ffc);
}
a, a:hover, a:focus, a:active {
color:inherit;
text-decoration:none;
}
.date9NX {
margin-top:18vh;
margin-bottom:54vh;
}
.date9NX P {
font-size:0.801vw;
text-align:right;
font-weight:900;
word-spacing:4px;
font-family:DIAGRAPH2;
letter-spacing:0px;
padding-right:45px;
color:#ff5400;
transition: 0.321s linear;
}
.FACE9 {
display:inline-flex;
user-select:none;
pointer-events:none;
}
.FACE9DON {
display:table-caption;
width:54vw;
}
#A2, #A3 {
filter:drop-shadow(0px 0px 6px #ff9100);
text-shadow:2px -1px 0px #fff;
}
.LANGUAGE {
filter:drop-shadow(1px 1px 95px #40000012)sepia(40%)!important;
text-shadow:0px -2px 1px #000;
}
.HIGHLANGUAGELOW {
filter:drop-shadow(1px 1px 1px #000)invert(1)hue-rotate(-99deg)!important;
}
#HIGHLOWWORD {
text-shadow:0px 1px 0px #000;
filter:drop-shadow(1px -18px 0px #f30);
transition: 0.18s linear;
}
#HIGHLOWWORD9 {
transition: 0.21s linear;
}
.FFACE {
margin-top:1.1vh;
}
.FFACE p {
margin-top:0;
margin-bottom:4.5vh;
}
.CALLINE {
height:37px;
min-height:37px;
max-height:37px;
width:100%;
background:url('CalLinedead.png');
background-repeat:repeat;
background-size:cover;
}
.Fat9 {
position:absolute;
top:140.5vh;
right:11.9vw;
display:inline-flex;
}
.Fat9 IMG {
width:32vw;
user-select:none;
filter:drop-shadow(0px 0px 0px #fff)contrast(100%);
transition:4s ease-in-out;
}
.IRLStartingz {
position:absolute;
top:250vh;
right:0;
display:inline-flex;
}
.IRLStartingz IMG {
width:69vw;
user-select:none;
transition:1s ease-in-out;
z-index:-1;
}
.Fat9 IMG:hover {
filter:drop-shadow(0px 0px 72px #ff54007a)contrast(123%);
}
.FatBallWord9Word {
position: absolute;
top:245vh;
left:0;
width:99%;
}
.FatBallWord9Word p {
margin-left:6.4vw;
float:left;
text-align:center;
text-align-last:center;
font-size:2vw;
font-weight:100;
word-spacing:2px;
font-family:'DIAGRAPHAdi9';
letter-spacing:0.27vw;
line-height:32px;
transition:1s linear;
color:#481700;
filter:drop-shadow(-1px 0px 0px #f81);
text-shadow:2px 0px 0px #4e1800, 2px 1px 0px #fff;
z-index:1;
}
.FatBallWord9 {
position:absolute;
top:207vh;
right:8vw;
width:32vw;
}
.FatBallWord9 p {
float:right;
text-align:left;
text-align-last:left;
font-size:1.45vw;
font-weight:100;
word-spacing:1px;
font-family:'DIAGRAPHAdi';
letter-spacing:0.27vw;
line-height:30px;
transition:1s linear;
color:#504444;
text-shadow:0px 0px 0px #ab817b, 3px -1px 1px #000000, 2px 0px 0px #fff;
filter:drop-shadow(0px 1px 0px #ff9100);
}
.FatBallWord9 p span {
font-size:1.322vw;
}
.Fat9r {
position:relative;
right:20vw;
bottom:14.6vh;
display:inline-flex;
user-select:none;
pointer-events:none;
}
.Fat9r IMG {
width:40vw;
user-select:none;
pointer-events:none;
}
.zoom {
display:inline-block;
position: relative;
}.zoom:after {
content:'';
width:1px; 
height:1px; 
display:block;  
position:absolute; 
top:0;
right:0;
background:none;
}.ARTGODISGOOD {
overflow:hidden;
margin-top:45vh;
margin-right:9vw;
}.ARTGODISGOOD video {
width:98vw;
transform:rotate(111deg);
}
.ART video {
max-width:36.9vw;
}.zoom img {
display: block;
}.zoom img::selection { background-color:transparent;}
.Viewspecifiicc {
margin-top:12.3vh;
}
.calluote91 {
font-size:4.1vw;
font-weight:100;
font-family:DIAGRAPH2;
color:#ff5400;
transition:0.321s linear;
filter:drop-shadow(0px 0px 4px #ff5400)opacity(6%);
position:absolute;
margin-top:-2.7vh;
margin-left:-2vw;
}
.calluote {
float:right;
text-align:right;
font-size:12.3vw;
margin-right:81px;
margin-top:-16.2vh;
font-weight:100;
font-family:DIAGRAPH2;
color:#ff5400;
transition:0.321s linear;
filter:drop-shadow(0px 0px 4px #ff5400)opacity(9%);
-webkit-transform:matrix(-1, 0, 0, 1, 0, 0);
-moz-transform:matrix(-1, 0, 0, 1, 0, 0);
-o-transform:matrix(-1, 0, 0, 1, 0, 0);
transform:matrix(-1, 0, 0, 1, 0, 0);
}
.calluote9End {
float:right;
text-align:right;
font-size:9.12vw;
margin-right:81px;
margin-top:-11.2vh;
font-weight:100;
font-family:DIAGRAPH2;
color:#ff5400;
transition:0.321s linear;
filter:drop-shadow(0px 0px 4px #ff5400)opacity(9%);
-webkit-transform:matrix(-1, 0, 0, 1, 0, 0);
-moz-transform:matrix(-1, 0, 0, 1, 0, 0);
-o-transform:matrix(-1, 0, 0, 1, 0, 0);
transform:matrix(-1, 0, 0, 1, 0, 0);
}
.calluote9 {
font-size:4.32vw;
font-weight:100;
font-family:DIAGRAPH2;
color:#ff5400;
transition:0.321s linear;
filter:drop-shadow(0px 0px 4px #ff5400)opacity(6%);
position:absolute;
margin-top:-2.2vh;
margin-left:-1.29vw;
}
.FatBallWord9Word9 {
position:absolute;
top:325vh;
left:45vw;
width:45vw;
}
.FatBallWord9Word9 p {
text-align:center;
text-align-last:center;
font-size:2.54vw;
font-weight:100;
word-spacing:2px;
font-family:'DIAGRAPHAdi9';
letter-spacing:0.27vw;
line-height:45px;
transition:1s linear;
color:#481700;
filter:drop-shadow(-1px 0px 0px #f81);
text-shadow:2px 0px 0px #4e1800, 2px 1px 0px #fff;
z-index:1;
}
.FatBallWord9Word99 {
position:absolute;
top:465vh;
left:49.45vw;
width:27vw;
}
.FatBallWord9Word99 p {
text-align:center;
text-align-last:center;
font-size:4.5vw;
font-weight:100;
word-spacing:2px;
font-family:'DIAGRAPH9';
letter-spacing:0.32vw;
line-height:12vh;
transition:1s linear;
color:#ff0000;
filter:drop-shadow(0px 3px 1px #ff9100);
text-shadow:0 1px 0 #fb9b49, 0 2px 0px #9b8787, 0 13px 0 #750805, 0 3px 0 #ffc5a4, 0 5px 0 #90350b, 0 6px 2px rgb(118 118 118), 0px -4px 0px rgb(0 0 0 / 94%), 0 -1px 18px rgb(0 0 0 / 80%);
z-index:1;
}
.IRL2 {
position:absolute;
top:308vh;
right:60vw;
display:inline-flex;
user-select:none;
pointer-events:none;
}
.IRL2 IMG {
width:36vw;
user-select:none;
transition:1s ease-in-out;
}
.IRL3 {
position:absolute;
top:360vh;
right:6.3vw;
display:inline-flex;
user-select:none;
pointer-events:none;
}
.IRL3 IMG {
width:23vw;
user-select:none;
transition:1s ease-in-out;
}
.IRL4 {
position:absolute;
top:418vh;
right:18vw;
display:inline-flex;
user-select:none;
pointer-events:none;
}
.IRL4 IMG {
width:39vw;
user-select:none;
transition:1s ease-in-out;
}
.IRL5 {
position:absolute;
top:478vh;
right:58.2vw;
display:inline-flex;
user-select:none;
pointer-events:none;
}
.IRL5 IMG {
width:32vw;
user-select:none;
transition:1s ease-in-out;
}
.IRL6 {
position:absolute;
top:540vh;
width:100%;
display:block;
user-select:none;
pointer-events:none;
}
.IRL6 IMG {
width:32vw;
user-select:none;
transition:1s ease-in-out;
}