#HIGHLOWWORD {
text-shadow:0px 1px 0px #000;
filter:drop-shadow(1px -18px 0px #f30);
transition:.18s linear;
}
.FFACE {
margin-top:4.5vh;
margin-bottom:8.1vh;
}
.FFACE p {
margin-top:0;
margin-bottom:0;
}
p.C {
font-size:10.24vw;
font-weight:100;
font-family:C;
letter-spacing:54px;
color:#2c0000;
animation-name:C;
animation-duration:14s;
animation-timing-function:cubic-bezier(.18,.24,.41,1);
animation-fill-mode:both;
transition:all 4s cubic-bezier(.18,.24,.41,1);
filter:drop-shadow(0px 0px 1px #000);
text-shadow:2px -1px 1px #fff, -2px 4px 4px #410000, 0px 4px 4px #f00;
-webkit-text-stroke:3px #140000;
}
p.C::selection {
color:#540000;
text-shadow:0 9px 4px #810000;
}
.FACE {
display:inline-flex;
margin:auto;
width:72vw;
pointer-events:none;
}
.FACE span {
font-size:1.27vw;
font-weight:100;
padding-top:20px;
word-spacing:0.23vw;
font-family:Word;
color:#fff;
text-align:justify;
text-align-last:center;
letter-spacing:0.045vw;
transition:.321s linear;
text-shadow:0 1px 0 #fb9b49;
filter:drop-shadow(0px 0px 1px #ff9100);
user-select:none;
pointer-events:none;
}
.FACE span indent {
margin-left:2px;
}
.FACE span indentr {
margin-left:-4px;
}
.FACE span indentRR {
margin-left:-1px;
}
.FACE span::selection {
color:#ff540011;
}
.NumericalLine {
display:flex;
position:absolute;
border-left:groove 2px #72000045;
border-bottom:124px solid #fff;
top:540px;
left:14.247vw;
bottom:-878.4vh;
}
.VTR1 {
font-size:1.54vw;
font-weight:100;
word-spacing:0.23vw;
font-family:Word;
color:#270a01;
text-align:justify;
text-align-last:center;
letter-spacing:0.054vw;
transition:.41s ease;
text-indent:4.54vw;
text-shadow:0 -1px 1px #fff;
line-height:54px;
filter:drop-shadow(0 0 0 #fff);
}
#TR {
color:#fff;
text-shadow:0 0 1px #ff0000, 0 2px 2px #ff0000;
filter:drop-shadow(0px -1px 1px #ff0000);
}
.ReadersFix {
margin:14vh;
}
@keyframes C {
0% {
color:#1f0801;
filter:drop-shadow(0px 0px 1px #1f0801);
}
14% {
color:#1f0801;
filter:drop-shadow(0px 0px 1px #ff4100);
}
27% {
color:#1f0801;
filter:drop-shadow(0px 0px 1px #fff);
}
41% {
color:#242424;
filter:drop-shadow(0px 0px 1px #000);
}
58% {
color:#242424;
filter:drop-shadow(0px 0px 1px #ff4100);
}
100% {
color:#242424;
filter:drop-shadow(0px 274px 41px #0000);
}
}