::-webkit-scrollbar, ::-webkit-scrollbar:horizontal, ::-webkit-scrollbar:vertical {
display:none;
visibility:hidden;
width:0px;
height:0px;
scrollbar-width:none;
}
*::-webkit-scrollbar, *::-webkit-scrollbar:horizontal, *::-webkit-scrollbar:vertical {
display:none;
visibility:hidden;
width:0px;
height:0px;
scrollbar-width:none;
}
::-webkit-scrollbar-thumb {
display:none;
visibility:hidden;
width:0px;
height:0px;
}
::-webkit-scrollbar-track-piece {
display:none;
visibility:hidden;
width:0px;
height:0px;
}
::-webkit-scrollbar-track {
display:none;
visibility:hidden;
width:0px;
height:0px;
}
::-webkit-scrollbar-button {
display:none;
visibility:hidden;
width:0px;
height:0px;
}
::-webkit-scrollbar-corner {
display:none;
visibility:hidden;
width:0px;
height:0px;
}
::selection {
color:#fff;
background:#ffffff00;
}
@font-face {
font-family:'Ser';
src:url('../Dia/Designer.ttf') format('truetype');
}
html, html * {
margin:0px;
scrollbar-width:none;
}
a, a:link, a:hover, a:focus, a:active, a:visited {
color:#FFF;
text-decoration:none;
}
body {
background:url('./1L.png');
background-position:center; 
background-repeat:repeat;
background-size:cover;
background-color:#161616;
overflow:hidden;
}
@media (max-width:1024px) {
body {
background:url('./1L.png');
background-position:center; 
background-repeat:repeat;
background-size:cover;
background-color:#161616;
overflow:scroll;
}
}
.Init14 {
display:flex;
position:absolute;
top:0;
right:0;
height:100%;
width:100%;
justify-content:center;
align-items:center;
background-color:#141414;
background-size:cover;
opacity:1;
transition:all .24s ease-out;
overflow:scroll;
pointer-events:none;
user-select:none;
z-index:7000;
}
#slateT {
position:fixed;
background:url('./1T.png');
background-position:left; 
background-repeat:no-repeat;
top:0;
right:0;
left:0;
bottom:0;
z-index:1;
}
#slateT2 {
position:fixed;
background:url('./1T2.png');
background-position:top; 
background-repeat:no-repeat;
top:0;
right:-94vw;
left:0;
bottom:0;
z-index:1;
}
#slate {
position:fixed;
height:212vh;
width:144vw;
top:0;
right:0;
left:0;
bottom:0;
background:url('./1.png');
background-position:center;
background-repeat:no-repeat;
background-size:contain;
transform:rotate(-24deg);
transform-origin:118vw 57vw;
animation-name:tio;
animation-duration:81s;
animation-fill-mode:both;
animation-play-state:paused;
animation-iteration-count:infinite;
animation-timing-function:cubic-bezier(.18,.14,.27,1);
transition:opacity .14s ease;
z-index:0;
}
@media (max-width:1400px) {
#slate {
position:fixed;
height:212vh;
width:144vw;
top:0;
right:0;
left:0;
bottom:0;
background:url('./1.png');
background-position:center;
background-repeat:no-repeat;
background-size:contain;
transform:rotate(-24deg);
transform-origin:180vw 81vw;
animation-name:tio;
animation-duration:400s;
animation-fill-mode:both;
animation-play-state:paused;
animation-iteration-count:infinite;
animation-timing-function:cubic-bezier(.18,.14,.27,1);
transition:opacity .14s ease;
z-index:0;
}
}
@keyframes tio {
0% {
transform:rotate(-24deg);
}
27% {
transform:rotate(40deg);
}
45% {
transform:rotate(27deg);
}
54% {
transform:rotate(48deg);
}
72% {
transform:rotate(14deg);
}
100% {
transform:rotate(-24deg);
}
}
.CovernMum {
position:absolute;
display:inline;
top:12.4vh;
margin:0;
left:12.4vw;
user-select:none;
z-index:14;
}
p.WORDOFZXAC9WmIH9 {
font-size:5rem;
font-weight:100;
word-spacing:18px;
color:#1c0c0c;
font-family:Ser;
letter-spacing:2px;
line-height:12.4vh;
margin:0;
margin-block-start:0;
margin-block-end:0;
overflow:revert;
overflow-wrap:revert;
text-align:left;
text-align-last:left;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(0px 0px 4px #000);
transition:.24s ease-in-out;
}
p.WORDOFZXAC9WmIH9 span {
font-variant:small-caps;
text-shadow:-2px 3px 2px #000, 0px 2px 0px #f40;
transition:.24s ease-in-out;
}
.PLATEGIORPTIN-scroll {
height:100vh;
width:100vw;
display:flex;
flex-wrap:wrap;
position:absolute;
margin:0;
bottom:0;
background-color:#0000;
transition:all 1.24s ease;
scroll-behavior:smooth;
overflow-y:scroll;
z-index:124;
}
.PLATEGIORPTIN-item {
width:100vw;
margin:0;
padding:45vh 0 0 18vw;
background-color:#0000;
z-index:124;
transition:all 1.24s cubic-bezier(.18,.14,.27,1);
}
@media (max-height:900px) {
.PLATEGIORPTIN-item {
width:100vw;
margin:0;
padding:49vh 0 0 18vw;
background-color:#0000;
z-index:124;
}
}
.PLATEGIORPTINF {
width:100vw;
margin:0;
padding:49vh 0 9vh 18vw;
background-color:#0000;
z-index:124;
}
.PLATEGIORPTIN-img {
height:auto;
min-height:400px;
pointer-events:none;
user-select:none;
}
@media (max-height:900px) {
.PLATEGIORPTIN-img {
max-height:48vh;
min-height:321px;
pointer-events:none;
user-select:none;
}
}
.NForMYgAP1189 {
margin-top:12.4vh;
}
.BuffersVectorizationingCastingarisiumca {
opacity:0;
transition:all 1.24s .42s ease;
}
.__BufferVectors {
position:relative;
display:none;
align-items:center;
justify-content:center;
border-radius:81%;
animation-name:_BUFFERSQWONTSLALrmm;
animation-duration:7s;
animation-iteration-count:infinite;
animation-direction:alternate-reverse;
animation-play-state:running;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
height:200px;
width:200px;
opacity:0;
transition:all .14s cubic-bezier(.18,.14,.24,1);
}
.__BufferVectors span {
position:absolute;
height:200px;
width:200px;
border-radius:81%;
background:linear-gradient(#f40, #fff, #fff, #f40);
animation-name:_BUFFERSQWONTSLALS;
animation-duration:4s;
animation-iteration-count:1;
animation-direction:normal;
animation-play-state:running;
animation-fill-mode:forwards;
animation-timing-function:ease;
}
.__BufferVHH8I {
position:absolute;
height:140px;
width:140px;
top:16px;
right:16px;
background:url('VectorRenderCAST____.webp');
background-position:center;
background-size:cover;
border-radius:4%;
border:14px double #fff;
animation-name:_BUFFERSQWONTSLALrmmM;
box-sizing:content-box;
animation-duration:4s;
animation-iteration-count:1;
animation-direction:normal;
animation-play-state:running;
animation-fill-mode:forwards;
animation-timing-function:ease;
filter:blur(4px);
z-index:9;
}
@keyframes _BUFFERSQWONTSLALrmmM {
0% {
border-radius:1%;
filter:blur(14px);
border:14px double #c80000;
}
100% {
border-radius:100%;
filter:blur(1px);
border:14px double #141414;
}
}
@keyframes _BUFFERSQWONTSLALS {
0% {
border-radius:8%;
}
100% {
border-radius:100%;
}
}
.__BufferVectors span:nth-child(2) {
filter:blur(4px);
animation-name:_ISCC;
animation-duration:4s;
animation-iteration-count:1;
animation-direction:alternate-reverse;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.__BufferVectors span:nth-child(3) {
filter:blur(4px);
animation-name:_ISCC;
animation-duration:4s;
animation-iteration-count:1;
animation-direction:alternate-reverse;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.__BufferVectors span:nth-child(4) {
filter:blur(4px);
animation-name:_ISCC;
animation-duration:4s;
animation-iteration-count:1;
animation-direction:alternate-reverse;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.__BufferVectors span:nth-child(5) {
filter:blur(14px);
animation-name:_ISCC;
animation-duration:7s;
animation-iteration-count:1;
animation-direction:alternate-reverse;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.__BufferVectors span:nth-child(6) {
filter:blur(4px);
animation-name:_ISCC;
animation-duration:4s;
animation-iteration-count:1;
animation-direction:alternate-reverse;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.__BufferVectors span:nth-child(7) {
filter:blur(4px);
animation-name:_ISCC;
animation-duration:4s;
animation-iteration-count:1;
animation-direction:alternate;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.__BufferVectors span:nth-child(8) {
filter:blur(14px);
animation-name:_ISCC;
animation-duration:4s;
animation-iteration-count:1;
animation-direction:alternate;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
@keyframes _ISCC {
0% {
rotate:0deg;
filter:inital;
border-radius:100%;
}
100% {
rotate:400deg;
filter:blur(1px);
border-radius:41%;
}
}
@keyframes _BUFFERSQWONTSLALrmm {
0% {
rotate:-180deg;
filter:hue-rotate(-41deg)saturate(0);
}
14% {
rotate:-124deg;
filter:hue-rotate(14deg)saturate(1);
}
81% {
rotate:124deg;
filter:hue-rotate(14deg)saturate(.41);
}
100% {
rotate:400deg;
filter:hue-rotate(0deg)saturate(.24);
}
}
.________BufferVectors {
position:relative;
display:none;
align-items:center;
justify-content:center;
border-radius:81%;
animation-name:____BUFFERSQWONTSLALrmm;
animation-duration:7s;
animation-delay:.41s;
animation-iteration-count:infinite;
animation-direction:alternate-reverse;
animation-play-state:running;
animation-timing-function:ease;
height:200px;
width:200px;
opacity:0;
transition:all .14s cubic-bezier(.18,.14,.24,1);
}
.________BufferVectors span {
position:absolute;
height:200px;
width:200px;
border-radius:81%;
background:linear-gradient(#f40, #fff, #fff, #f40);
animation-name:____BUFFERSQWONTSLALS;
animation-duration:4s;
animation-delay:.41s;
animation-iteration-count:1;
animation-direction:normal;
animation-play-state:running;
animation-fill-mode:forwards;
animation-timing-function:ease;
}
.________BufferVHH8I {
position:absolute;
height:140px;
width:140px;
top:16px;
right:16px;
background:url('VectorRenderCAST___.webp');
background-position:top;
border-radius:4%;
border:14px double #fff;
animation-name:____BUFFERSQWONTSLALrmmM;
box-sizing:content-box;
animation-duration:4s;
animation-delay:.41s;
animation-iteration-count:1;
animation-direction:normal;
animation-play-state:running;
animation-fill-mode:forwards;
animation-timing-function:ease;
filter:blur(4px);
z-index:9;
}
@keyframes ____BUFFERSQWONTSLALrmmM {
0% {
border-radius:1%;
filter:blur(14px);
border:14px double #c80000;
}
100% {
border-radius:100%;
filter:blur(1px);
border:14px double #141414;
}
}
@keyframes ____BUFFERSQWONTSLALS {
0% {
border-radius:8%;
}
100% {
border-radius:100%;
}
}
.________BufferVectors span:nth-child(2) {
filter:blur(4px);
animation-name:____ISCC;
animation-duration:4s;
animation-delay:.41s;
animation-iteration-count:1;
animation-direction:alternate-reverse;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.________BufferVectors span:nth-child(3) {
filter:blur(4px);
animation-name:____ISCC;
animation-duration:4s;
animation-delay:.41s;
animation-iteration-count:1;
animation-direction:alternate-reverse;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.________BufferVectors span:nth-child(4) {
filter:blur(41px);
animation-name:____ISCC;
animation-duration:14s;
animation-delay:.41s;
animation-iteration-count:1;
animation-direction:alternate-reverse;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.________BufferVectors span:nth-child(5) {
filter:blur(7px);
animation-name:____ISCC;
animation-duration:7s;
animation-delay:.41s;
animation-iteration-count:1;
animation-direction:alternate-reverse;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.________BufferVectors span:nth-child(6) {
filter:blur(4px);
animation-name:____ISCC;
animation-duration:4s;
animation-delay:.41s;
animation-iteration-count:1;
animation-direction:alternate-reverse;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.________BufferVectors span:nth-child(7) {
filter:blur(4px);
animation-name:____ISCC;
animation-duration:4s;
animation-delay:.41s;
animation-iteration-count:1;
animation-direction:alternate;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.________BufferVectors span:nth-child(8) {
filter:blur(7px);
animation-name:____ISCC;
animation-duration:4s;
animation-delay:.41s;
animation-iteration-count:1;
animation-direction:alternate;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
@keyframes ____ISCC {
0% {
rotate:0deg;
filter:inital;
border-radius:100%;
}
100% {
rotate:400deg;
filter:blur(1px);
border-radius:41%;
}
}
@keyframes ____BUFFERSQWONTSLALrmm {
0% {
rotate:-81deg;
filter:hue-rotate(0deg)saturate(1);
}
14% {
rotate:-124deg;
filter:hue-rotate(-144deg)saturate(.24);
}
81% {
rotate:124deg;
filter:hue-rotate(4deg)saturate(.77);
}
100% {
rotate:400deg;
filter:hue-rotate(0deg)saturate(.41);
}
}
.____________________________BufferVectors {
position:relative;
display:none;
align-items:center;
justify-content:center;
border-radius:81%;
animation-name:______________BUFFERSQWONTSLALrmm;
animation-duration:4s;
animation-iteration-count:infinite;
animation-direction:alternate-reverse;
animation-play-state:running;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
height:200px;
width:200px;
opacity:0;
transition:all .14s cubic-bezier(.18,.14,.24,1);
}
.____________________________BufferVectors span {
position:absolute;
height:200px;
width:200px;
border-radius:81%;
background:linear-gradient(#f40, #fff, #fff, #f40);
animation-name:______________BUFFERSQWONTSLALS;
animation-duration:4s;
animation-iteration-count:1;
animation-direction:normal;
animation-play-state:running;
animation-fill-mode:forwards;
animation-timing-function:ease;
}
.____________________________BufferVHH8I {
position:absolute;
height:140px;
width:140px;
top:16px;
right:16px;
background:url('VectorRenderCAST__.webp');
background-position:center;
background-repeat:no-repeat;
background-size:cover;
border-radius:4%;
border:14px double #fff;
animation-name:______________BUFFERSQWONTSLALrmmM;
box-sizing:content-box;
animation-duration:4s;
animation-iteration-count:1;
animation-direction:normal;
animation-play-state:running;
animation-fill-mode:forwards;
animation-timing-function:ease;
filter:blur(4px);
z-index:9;
}
@keyframes ______________BUFFERSQWONTSLALrmmM {
0% {
border-radius:1%;
filter:blur(4px);
border:14px double #f40;
}
100% {
border-radius:100%;
filter:blur(1px);
border:14px double #141414;
}
}
@keyframes ______________BUFFERSQWONTSLALS {
0% {
border-radius:8%;
}
100% {
border-radius:100%;
}
}
.____________________________BufferVectors span:nth-child(2) {
filter:blur(4px);
animation-name:______________ISCC;
animation-duration:4s;
animation-iteration-count:1;
animation-direction:alternate-reverse;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.____________________________BufferVectors span:nth-child(3) {
filter:blur(4px);
animation-name:______________ISCC;
animation-duration:4s;
animation-iteration-count:1;
animation-direction:alternate-reverse;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.____________________________BufferVectors span:nth-child(4) {
filter:blur(4px);
animation-name:______________ISCC;
animation-duration:4s;
animation-iteration-count:1;
animation-direction:alternate-reverse;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.____________________________BufferVectors span:nth-child(5) {
filter:blur(7px);
animation-name:______________ISCC;
animation-duration:7s;
animation-iteration-count:1;
animation-direction:alternate-reverse;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.____________________________BufferVectors span:nth-child(6) {
filter:blur(4px);
animation-name:______________ISCC;
animation-duration:4s;
animation-iteration-count:1;
animation-direction:alternate-reverse;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.____________________________BufferVectors span:nth-child(7) {
filter:blur(4px);
animation-name:______________ISCC;
animation-duration:4s;
animation-iteration-count:1;
animation-direction:alternate;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
.____________________________BufferVectors span:nth-child(8) {
filter:blur(7px);
animation-name:______________ISCC;
animation-duration:4s;
animation-iteration-count:1;
animation-direction:alternate;
animation-timing-function:cubic-bezier(.18,.14,.24,1);
}
@keyframes ______________ISCC {
0% {
rotate:0deg;
filter:inital;
border-radius:100%;
}
100% {
rotate:400deg;
filter:blur(1px);
border-radius:41%;
}
}
@keyframes ______________BUFFERSQWONTSLALrmm {
0% {
rotate:-400deg;
filter:hue-rotate(0deg)saturate(1);
}
24% {
rotate:-321deg;
filter:hue-rotate(0deg)saturate(.81);
}
41% {
rotate:-124deg;
filter:hue-rotate(-18deg)saturate(.24);
}
100% {
rotate:124deg;
filter:hue-rotate(0deg)saturate(.41);
}
}
.prevJcshT {
position:relative;
display:block;
margin-block-start:0;
margin-block-end:0;
top:41vh;
left:40vw;
color:#724114;
font-family:Ser;
font-size:1.8vh;
font-weight:100;
font-variant:small-caps;
letter-spacing:1px;
text-shadow:0px 3px 0px #000, 0px 1px 0px #f40, 0px 0px 2px #000;
animation-name:HI;
animation-delay:.124s;
animation-duration:14s;
animation-iteration-count:1;
animation-play-state:paused;
transition:all 1.24s ease;
opacity:0;
animation-timing-function:cubic-bezier(.9,.18,.48,.148);
pointer-events:none;
user-select:none;
z-index:41;
}
@keyframes HI {
0% {
opacity:0;
}
48% {
opacity:1;
}
100% {
opacity:0;
}
}
.context-menu {
display:none;
position:absolute;
background-image:radial-gradient(#140000, #800000c9, #ffffff, #a90000);
background-attachment:fixed;
border:7px solid #484848;
border-radius:14px;
box-shadow:0px 14px 48px #240000, 0px 0px 14px #000;
backdrop-filter:blur(4px);
transition:all .24s ease-in-out;
opacity:0;
animation-name:LL__l;
animation-duration:.24s;
animation-fill-mode:forwards;
animation-iteration-count:1;
animation-timing-function:ease;
mix-blend-mode:difference;
z-index:4000;
}
@keyframes LL__l {
0% {
opacity:0;
box-shadow:0px 14px 48px #240000, 0px 0px 14px #000;
}
41% {
opacity:.49;
box-shadow:0px 7px 2px #240000, 0px 8px 24px #ff0000;
}
100% {
opacity:1;
box-shadow:0px 2px 1px #240000, 0px 8px 24px #480000;
}
}
.context-menu-item {
margin:auto;
color:#fff;
font-family:Ser;
font-size:1.24rem;
line-height:1.4rem;
text-align:center;
font-weight:900;
padding:1rem;
text-shadow:1px 0px 2px #000, 2px -1px 1px #fff, 0px 0px 4px #000;
box-shadow:0px 14px 48px #000;
transition:all .24s ease;
border-radius:8px 8px 0px 0px;
filter:drop-shadow(0px 0px 1px #fff0);
}
.context-menu ._4 {
border-top:7px ridge #000;
border-radius:0px 0px 8px 8px;
}
.context-menu-item:hover {
background-image:radial-gradient(#8c8c8c, #8c8c8c, #8c8c8c, #8c8c8c);
color:#fff;
text-shadow:1px 0px 2px #000, 2px -1px 1px #000, 0px 0px 4px #000;
filter:drop-shadow(0px 0px 1px #c4c4c4);
}
.CACHE {
opacity:0;
position:absolute;
user-select:none;
pointer-events:none;
z-index:-124;
}
@media (max-width:900px) {
p.WORDOFZXAC9WmIH9 {
font-size:4rem;
font-weight:100;
word-spacing:18px;
color:#1c0c0c;
font-family:Ser;
letter-spacing:2px;
line-height:8vh;
margin:0 4rem 0 0;
margin-block-start:0;
margin-block-end:0;
overflow:revert;
overflow-wrap:revert;
text-align:left;
text-align-last:left;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(0px 0px 4px #000);
transition:.24s ease-in-out;
}
}
.Render {
display:flex;
height:100%;
width:100%;
}
.Cast {
position:absolute;
align-self:center;
display:flex;
height:90%;
width:100%;
transition:all .41s ease-in-out;
box-shadow:0px 2px 1px -1px #f40, 0px -2px 1px -1px #f40, 0px -124px 1px 0px #141414, 0px 124px 0px 0px #141414;
backdrop-filter:hue-rotate(14deg) blur(24px);
opacity:0;
z-index:24;
}
._GallVectorWRITEINTOLIFE {
margin:0;
max-width:100%;
display:none;
row-gap:8vh;
position:relative;
flex-wrap:wrap;
z-index:4000;
}
._GallVectorWRITEINTOLIFE > article {
flex-grow:calc(var(--width) * (100000 / var(--height)));
flex-basis:41vw;
aspect-ratio:1.04;
position:relative;
overflow:scroll;
transition:all 1.24s ease;
}
@media (max-width:488px) {
._GallVectorWRITEINTOLIFE > article {
flex-grow:1;
flex-basis:90vw;
aspect-ratio:1.04;
position:relative;
overflow:scroll;
transition:all 1.24s ease;
}
}
._GallVectorWRITEINTOLIFE > article img {
position:absolute;
width:100%;
height:100%;
}
._GallVectorWRITEINTOLIFE > article a > picture + details {
position:absolute;
opacity:0;
top:0;
right:0;
left:0;
color:#fff;
text-shadow:0 0 2px #000;
padding:1rem;
text-align:center;
transition:opacity 14ms ease;
z-index:1;
}
._GallVectorWRITEINTOLIFE > article a > picture + details > summary {
border:none;
list-style:none;
}
._GallVectorWRITEINTOLIFE > article::after {
position:absolute;
opacity:0;
top:0;
right:0;
bottom:0;
left:0;
background:linear-gradient(rgba(0, 0, 0, 0) 0% 80%, rgba(0, 0, 0, 0.501961) 98% 100%);
transition:opacity 14ms ease;
z-index:1;
}
p.WORDOFZXAC9WmIH941_ {
font-size:calc(24px + 8vw);
font-weight:100;
word-spacing:18px;
color:#1c0c0c;
font-family:Ser;
letter-spacing:2px;
line-height:14vh;
margin:0;
margin-block-start:0;
margin-block-end:0;
overflow-wrap:anywhere;
text-align:center;
text-align-last:center;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(0px 0px 4px #000);
transition:.24s ease-in-out;
}
@media (max-width:899px) {
p.WORDOFZXAC9WmIH941_ {
font-size:calc(24px + 8vw);
font-weight:100;
word-spacing:18px;
color:#1c0c0c;
font-family:Ser;
letter-spacing:2px;
line-height:124px;
margin:0;
margin-block-start:0;
margin-block-end:0;
overflow-wrap:anywhere;
text-align:center;
text-align-last:center;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(0px 0px 4px #000);
transition:.24s ease-in-out;
}
}
@media (max-width:700px) {
p.WORDOFZXAC9WmIH941_ {
font-size:4.4rem;
font-weight:100;
word-spacing:18px;
color:#1c0c0c;
font-family:Ser;
letter-spacing:2px;
line-height:4rem;
margin:0;
margin-block-start:0;
margin-block-end:0;
overflow-wrap:anywhere;
text-align:center;
text-align-last:center;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(0px 0px 4px #000);
transition:.24s ease-in-out;
}
}
@media (max-width:480px) {
p.WORDOFZXAC9WmIH941_ {
font-size:4rem;
font-weight:100;
word-spacing:18px;
color:#1c0c0c;
font-family:Ser;
letter-spacing:2px;
line-height:4rem;
margin:0;
margin-block-start:0;
margin-block-end:0;
overflow-wrap:anywhere;
text-align:center;
text-align-last:center;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(0px 0px 4px #000);
transition:.24s ease-in-out;
}
}
@media (max-width:420px) {
p.WORDOFZXAC9WmIH941_ {
font-size:14vw;
font-weight:100;
word-spacing:18px;
color:#1c0c0c;
font-family:Ser;
letter-spacing:2px;
line-height:57px;
margin:0;
margin-block-start:0;
margin-block-end:0;
overflow-wrap:anywhere;
text-align:center;
text-align-last:center;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(0px 0px 4px #000);
transition:.24s ease-in-out;
}
}
.CovernMumCallum {
display:flex;
flex-flow:wrap;
justify-content:center;
position:relative;
user-select:none;
z-index:14;
}
@media (max-width:899px) {
.CovernMumCallum {
display:flex;
flex-flow:wrap;
justify-content:center;
position:relative;
user-select:none;
z-index:14;
padding:1rem 2rem 0 2rem;
}
}
p.WORDOFZXAC9WmIH941_ span {
font-variant:small-caps;
text-shadow:-2px 3px 2px #000, 0px 2px 0px #f40;
transition:.24s ease-in-out;
}
._GallVectorWRITEINTOLIFE > article:hover {
opacity:1;
box-shadow:0 0.25rem 0.25rem rgba(0, 0, 0, 0.14), 0 0 0.25rem rgba(0, 0, 0, 0.12);
}
._GallVectorWRITEINTOLIFE > article:hover::after {
opacity:1;
}
._GallVectorWRITEINTOLIFE > article:hover picture + details {
opacity:1;
}
._GallVectorWRITEINTOLIFE:after {
flex-grow:4000000000;
background:#0000;
}
img[loading="lazy"] {
transition:opacity .44s ease-in-out;
opacity:1;
}
img[loading="lazy"].loaded {
transition:opacity .44s ease-in-out;
opacity:1;
}
.TRUST {
animation:TRUST 1.24s ease;
}
.FAITH {
animation:FAITH 1.24s ease;
}
@keyframes TRUST {
0% {
transform:translateY(0);
}
41% {
transform:translateY(-81px);
}
100% {
transform:translateY(0);
}
}
@keyframes FAITH {
0% {
transform:translateY(0);
}
41% {
transform:translateY(-81px);
}
100% {
transform:translateY(0);
}
}
.RenderBackdropulantern {
height:0;
width:0;
opacity:0;
}
@media (max-width:899px) {
.RenderBackdropulantern {
height:100%;
width:100%;
margin:0;
position:absolute;
background-image:url('Skin.png');
background-repeat:no-repeat;
background-position:top;
background-size:cover;
background-attachment:fixed;
opacity:1;
transition:all 12.4s cubic-bezier(.18,.24,.41,1);
}
}
.C {
position:absolute;
opacity:0;
z-index:-4000;
}