::-webkit-scrollbar, ::-webkit-scrollbar:horizontal, ::-webkit-scrollbar:vertical {
display:none;
visibility:hidden;
width:0px;
height:0px;
}
*::-webkit-scrollbar, *::-webkit-scrollbar:horizontal, *::-webkit-scrollbar:vertical {
display:none;
visibility:hidden;
width:0px;
height:0px;
}
body {
background:url('Skin.png');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center center;
background-size:cover;
background-color:#540007;
color:#540007;
text-align:center;
margin:0px;
scrollbar-width:none;
-ms-overflow-style:none;
}
* {
cursor:Cell;
}
@font-face {
font-family: 'DIAGRAPH';
src: url('../Dia/Dia.otf') format('opentype');
} 
@font-face {
font-family: 'Designer';
src: url('../Dia/Designer.ttf') format('truetype');
}
@font-face {
font-family: 'DIAGRAPH9';
src: url('../Dia/9.ttf') format('truetype');
} 
a, a:hover, a:focus, a:active {
text-decoration:none;
color:inherit;
}
::-moz-selection {
color:#450000;
background:#ff000018;
}
::selection {
color:#fff;
background:#ffffff00;
}
.WORD {
position:relative;
display:flex;
justify-content:space-between;
margin-top:4vh;
margin-right:7vw;
margin-left:7vw;
}
@media (max-width:1027px) {
.WORD {
position:relative;
display:flex;
justify-content:center;
margin-top:0;
margin-right:0;
margin-left:0;
}
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.HIGHLOWWORDOR {
margin-top:4vh;
margin-bottom:4.8vh;
display:inline-flex;
justify-content:space-between;
width:91vw;
}
@media (max-width:849px) {
.HIGHLOWWORDOR {
display:block;
margin-top:1rem;
margin-bottom:1rem;
margin-right:4rem;
margin-left:1.18rem;
width:94vw;
}
}
@media (max-width:490px) {
.HIGHLOWWORDOR {
display:block;
margin-top:1rem;
margin-bottom:1rem;
margin-right:4rem;
margin-left:1rem;
width:90vw;
}
}
@media (orientation:landscape) and (max-height:587px) {
.HIGHLOWWORDOR {
visibility:hidden;
display:none;
}
}
@media (orientation:landscape) and (max-height:587px) {
.VariLine {
visibility:hidden;
display:none;
}
}
@media (max-height:587px) and (orientation:landscape) {
body {
overflow:hidden;
}
}
@media (max-height:587px) and (orientation:landscape) {
p.WORDOF {
font-size:3.21rem;
font-weight:100;
word-spacing:18px;
font-family:Designer;
letter-spacing:3px;
line-height:24vh!important;
margin-block-start:0;
margin-block-end:0;
color:#78584cc9;
overflow:revert;
overflow-wrap:revert;
text-align:left;
text-align-last:left;
text-shadow:-2px 1px 2px #f40, 0px 2px 1px #fff;
filter:drop-shadow(2px 1px 0px #000);
transition:.24s ease-in-out;
}
}
@media (orientation:landscape) and (max-height:700px) {
.VariLine {
position:absolute;
width:100vw;
display:flex;
bottom:4vh!important;
justify-content:space-around;
user-select:none;
}
}
p.HIGHLOWWORDER {
font-size:4rem;
margin-right:7vw;
text-align:left;
font-weight:100;
white-space:nowrap;
font-family:DIAGRAPH;
font-variant:small-caps;
letter-spacing:.09rem;
color:#ffffff4a;
margin-block-start:0;
margin-block-end:0;
}
p.HIGHLOWWORDER9 {
font-size:1.24rem;
white-space:normal;
line-height:27px;
letter-spacing:.0814rem;
word-spacing:4px;
text-align:right;
color:#ffffffc9;
margin-block-start:7px;
margin-block-end:9px;
pointer-events:none;
user-select:none;
}
@media (max-width:1094px) {
p.HIGHLOWWORDER9 {
font-size:1.24rem;
white-space:normal;
line-height:27px;
letter-spacing:.127rem;
word-spacing:-1px;
text-align:justify;
text-align-last:end;
color:#ffffffc9;
margin-block-start:7px;
margin-block-end:9px;
pointer-events:none;
user-select:none;
}
}
p.HIGHLOWWORDER9::first-letter {
font-size:1.4rem;
}
p.HIGHLOWWORDER9 i {
vertical-align:4px;
pointer-events:none;
user-select:none;
}
p.WORDOF {
font-size:3.21rem;
font-weight:100;
word-spacing:18px;
font-family:Designer;
letter-spacing:3px;
line-height:9vh;
margin-block-start:0;
margin-block-end:0;
color:#78584cc9;
overflow:revert;
overflow-wrap:revert;
text-align:left;
text-align-last:left;
text-shadow:-2px 1px 2px #f40, 0px 2px 1px #fff;
filter:drop-shadow(2px 1px 0px #000);
transition:.24s ease-in-out;
}
@media (max-width:1027px) {
p.WORDOF {
font-size:4rem;
font-weight:100;
word-spacing:14px;
font-family:Designer;
letter-spacing:2px;
line-height:12vh;
margin-block-start:0;
margin-block-end:0;
color:#78584cc9;
overflow:revert;
overflow-wrap:revert;
text-align:center;
text-align-last:center;
text-shadow:-2px 1px 2px #f40, 0px 2px 1px #fff;
filter:drop-shadow(2px 1px 0px #000);
transition:.24s ease-in-out;
}
}
@media (max-width:588px) {
p.WORDOF {
font-size:3.21rem;
font-weight:100;
word-spacing:14px;
font-family:Designer;
letter-spacing:2px;
line-height:3.48rem;
margin-block-start:0;
margin-block-end:0;
color:#78584cc9;
overflow:revert;
overflow-wrap:revert;
text-align:center;
text-align-last:center;
text-shadow:-2px 1px 2px #f40, 0px 2px 1px #fff;
filter:drop-shadow(2px 1px 0px #000);
transition:.24s ease-in-out;
}
}
@media (max-width:497px) {
p.WORDOF {
font-size:2.8rem;
font-weight:100;
word-spacing:14px;
font-family:Designer;
letter-spacing:2px;
line-height:4rem;
margin-block-start:0;
margin-block-end:0;
color:#78584cc9;
overflow:revert;
overflow-wrap:revert;
text-align:center;
text-align-last:center;
text-shadow:-2px 1px 2px #f40, 0px 2px 1px #fff;
filter:drop-shadow(2px 1px 0px #000);
transition:.24s ease-in-out;
}
}
@media (max-width:419px) {
p.WORDOF {
font-size:2.7rem;
font-weight:100;
word-spacing:14px;
font-family:Designer;
letter-spacing:2px;
line-height:4.19rem;
margin-block-start:0;
margin-block-end:0;
color:#78584cc9;
overflow:revert;
overflow-wrap:revert;
text-align:center;
text-align-last:center;
text-shadow:-2px 1px 2px #f40, 0px 2px 1px #fff;
filter:drop-shadow(2px 1px 0px #000);
transition:.24s ease-in-out;
}
}
@media (max-width:401px) {
p.WORDOF {
font-size:2.5rem;
font-weight:100;
word-spacing:14px;
font-family:Designer;
letter-spacing:2px;
line-height:4rem;
margin-block-start:0;
margin-block-end:0;
color:#78584cc9;
overflow:revert;
overflow-wrap:revert;
text-align:center;
text-align-last:center;
text-shadow:-2px 1px 2px #f40, 0px 2px 1px #fff;
filter:drop-shadow(2px 1px 0px #000);
transition:.24s ease-in-out;
}
}
@media (max-width:374px) {
p.WORDOF {
font-size:2.4rem;
font-weight:100;
word-spacing:14px;
font-family:Designer;
letter-spacing:2px;
line-height:4rem;
margin-block-start:0;
margin-block-end:0;
color:#78584cc9;
overflow:revert;
overflow-wrap:revert;
text-align:center;
text-align-last:center;
text-shadow:-2px 1px 2px #f40, 0px 2px 1px #fff;
filter:drop-shadow(2px 1px 0px #000);
transition:.24s ease-in-out;
}
}
@media (max-width:347px) {
p.WORDOF {
font-size:2rem;
font-weight:100;
word-spacing:14px;
font-family:Designer;
letter-spacing:2px;
line-height:4rem;
margin-block-start:0;
margin-block-end:0;
color:#78584cc9;
overflow:revert;
overflow-wrap:revert;
text-align:center;
text-align-last:center;
text-shadow:-2px 1px 2px #f40, 0px 2px 1px #fff;
filter:drop-shadow(2px 1px 0px #000);
transition:.24s ease-in-out;
}
}
p.WORDOF span {
font-variant:small-caps;
margin-top:1.23vh;
margin-right:3vw;
color:#ffffffc9;
font-size:4rem;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
}
p.WORDOFZX {
font-family:Designer;
word-spacing:18px;
font-weight:100;
letter-spacing:2px;
line-height:4vh;
margin-block-start:0;
margin-block-end:0;
overflow:revert;
overflow-wrap:revert;
font-variant:petite-caps;
text-align:center;
text-align-last:center;
color:#ffffffc9;
font-size:3.4rem;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(2px 1px 0px #000);
transition:.18s ease-in-out;
}
p.WORDOFZX a sub {
vertical-align:-14px;
font-size:3.4rem;
margin-right:0px;
}
@media (max-width:924px) {
p.WORDOFZX a sub {
vertical-align:-19px;
font-size:3.4rem;
margin-right:0px;
}
}
@media (max-width:518px) {
p.WORDOFZX a sub {
vertical-align:-27px;
font-size:3.4rem;
margin-right:0px;
}
}
@media (max-width:378px) {
p.WORDOFZX a sub {
vertical-align:-14px;
font-size:3.21rem;
margin-right:0px;
letter-spacing:0px;
}
}
p.WORDOFZX a sup {
vertical-align:sub;
text-transform:uppercase;
font-size:3.4rem;
margin-left:-2px;
}
@media (max-width:518px) {
p.WORDOFZX a sup {
vertical-align:-12px;
font-size:2.8rem;
margin-right:0px;
}
}
@media (max-width:378px) {
p.WORDOFZX a sup {
vertical-align:-12px;
font-size:2.8rem;
margin-right:0px;
letter-spacing:4px;
}
}
@media (max-width:924px) {
p.WORDOFZX {
font-family:Designer;
word-spacing:18px;
font-weight:100;
letter-spacing:2px;
line-height:4vh;
margin-block-start:0;
margin-block-end:0;
overflow:revert;
overflow-wrap:revert;
text-align:center;
text-align-last:center;
color:#ffffffc9;
font-size:2.8rem;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(2px 1px 0px #000);
transition:.18s ease-in-out;
}
}
@media (max-width:518px) {
p.WORDOFZX {
font-family:Designer;
word-spacing:18px;
font-weight:100;
letter-spacing:2px;
line-height:4vh;
margin-block-start:0;
margin-block-end:0;
overflow:revert;
overflow-wrap:revert;
text-align:center;
text-align-last:center;
color:#ffffffc9;
font-size:2rem;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(2px 1px 0px #000);
transition:.18s ease-in-out;
}
}
@media (max-width:378px) {
p.WORDOFZX {
font-family:Designer;
word-spacing:18px;
font-weight:100;
letter-spacing:2px;
line-height:2vh;
margin-block-start:0;
margin-block-end:0;
overflow:revert;
overflow-wrap:revert;
text-align:center;
text-align-last:center;
color:#ffffffc9;
font-size:1.4rem;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(2px 1px 0px #000);
transition:.18s ease-in-out;
}
}
p.WORDOFZX2 {
font-family:Designer;
word-spacing:-8px;
font-weight:100;
letter-spacing:1px;
line-height:4vh;
margin-block-start:0;
margin-block-end:0;
overflow:revert;
overflow-wrap:revert;
text-align:center;
text-align-last:center;
color:#ffffffc9;
font-size:3.19rem;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(2px 1px 0px #000);
transition:.18s ease-in-out;
}
@media (max-width:518px) {
p.WORDOFZX2 {
font-family:Designer;
word-spacing:1px;
font-weight:100;
letter-spacing:2px;
line-height:2vh;
margin-block-start:0;
margin-block-end:0;
overflow:revert;
overflow-wrap:revert;
text-align:right;
text-align-last:right;
color:#fff0;
font-size:4px;
text-shadow:-2px 2px 1px #0000, 0px -1px 0px #fff0;
filter:drop-shadow(2px 1px 0px #fff0);
transition:.18s ease-in-out;
}
}
.CA {
display:flex;
}
@media (max-width:924px) {
.CA {
display:inline;
}
}
p.WORDOFZXAC9 {
font-size:2.7vw;
font-weight:100;
word-spacing:18px;
font-family:Designer;
letter-spacing:2px;
line-height:4vh;
margin-block-start:0;
margin-block-end:0;
color:#78584cc9;
overflow:revert;
overflow-wrap:revert;
text-align:left;
text-align-last:left;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(2px 1px 0px #000);
transition:.24s ease-in-out;
}
p.WORDOFZXAC9::first-letter {
letter-spacing:0px;
vertical-align:-2px;
}
p.WORDOFZXAC9 span {
font-variant:small-caps;
margin-top:1.23vh;
margin-right:3vw;
color:#ffffffc9;
font-size:4rem;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
transition:.24s ease-in-out;
}
.Casting IMG:first-child {
position:absolute;
animation-name:GODSLAWR8Iop;
animation-delay:.14s;
animation-duration:4s;
animation-iteration-count:1;
animation-play-state:running;
animation-fill-mode:forwards;
animation-timing-function:cubic-bezier(.9,.18,.48,.148);
max-width:100%;
mix-blend-mode:saturation;
box-shadow:-841px 0 2px 1248px #000;
opacity:1;
}
.Casting IMG:nth-child(2) {
animation-name:GODSLAWR8IopSc4;
animation-delay:.28s;
animation-duration:1.24s;
animation-iteration-count:1;
animation-play-state:running;
animation-fill-mode:forwards;
animation-timing-function:cubic-bezier(.9,.18,.48,.148);
max-width:100%;
mix-blend-mode:normal;
opacity:0;
}
@keyframes GODSLAWR8Iop {
0% {
box-shadow:-841px 0 2px 1248px #000;
opacity:1;
}
48% {
box-shadow:-841px 0 2px 1248px #0000;
opacity:1;
}
100% {
box-shadow:0 0 2px 1px #0000;
opacity:0;
}
}
@keyframes GODSLAWR8IopSc4 {
0% {
opacity:0;
}
100% {
opacity:1;
}
}
@media (max-width:518px) {
p.WORDOFZXAC9 span {
font-variant:small-caps;
margin-top:1.23vh;
margin-right:3vw;
color:#ffffffc9;
font-size:2.8rem;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
transition:.24s ease-in-out;
}
}
@media (max-width:378px) {
p.WORDOFZXAC9 span {
font-variant:small-caps;
margin-top:1.23vh;
margin-right:3vw;
color:#ffffffc9;
font-size:2rem;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
transition:.24s ease-in-out;
}
}
@media (max-width:924px) {
p.WORDOFZXAC9 {
font-size:2.7vw;
font-weight:100;
word-spacing:18px;
font-family:Designer;
letter-spacing:2px;
line-height:4vh;
margin-block-start:2rem;
margin-block-end:0;
color:#78584cc9;
overflow:revert;
overflow-wrap:revert;
text-align:left;
text-align-last:left;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(2px 1px 0px #000);
transition:.24s ease-in-out;
}
}
@media (max-width:378px) {
p.WORDOFZXAC9 {
font-size:2.7vw;
font-weight:100;
word-spacing:18px;
font-family:Designer;
letter-spacing:2px;
line-height:4vh;
margin-block-start:1rem;
margin-block-end:0;
color:#78584cc9;
overflow:revert;
overflow-wrap:revert;
text-align:left;
text-align-last:left;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(2px 1px 0px #000);
transition:.24s ease-in-out;
}
}
p.WORDOFZXAC9 span:hover {
color:#1c120c;
text-shadow:-2px 3px 2px #000, 0px 2px 0px #f40;
filter:drop-shadow(0px 0px 4px #000);
animation-play-state:paused;
transition:.081s ease-in-out;
}
p.WORDOFZX:hover {
color:#ffffff45;
text-shadow:-2px 2px 1px #000, 0px 0px 0px #dd9b54, 0px 2px 1px #fff;
filter:drop-shadow(3px 2px 1px #000);
animation-play-state:paused;
transition:.08s ease-in-out;
}
.VariLine {
position:absolute;
width:100vw;
display:flex;
bottom:9vh;
justify-content:space-around;
user-select:none;
}
@media (max-width:708px) {
.VariLine {
width:100vw;
display:flex;
position:absolute;
justify-content:space-evenly;
bottom:4vh;
user-select:none;
}
}
p.WORDOF:hover {
text-shadow:-2px 1px 2px #fff, 1px 2px 1px #f50, 0px 0px 7px #0014ff54;
animation-play-state:paused;
transition:.18s ease-in-out;
}
@keyframes PageApetc {
0% {
text-shadow:-2px 1px 2px #fff, 1px 2px 1px #000, 0px 0px 7px #0014ff54;
}
100% {
text-shadow:-2px 1px 1px #f40, 1px 2px 4px #f40, 0px 0px 2px #000;
}
}
.ART {
padding-right:81px;
padding-left:81px;
display:block;
}
.ART IMG {
max-width:100%;
margin:auto;
}
.FACET {
margin-top:-2vh;
user-select:none;
}@media (max-width:1700px) {
.FACET {
visibility:hidden;
display:none;
}
}
.FACEH {
user-select:none;
}
.FACE {
top:4rem;
position:relative;
}
@media (max-width:980px) {
.FACE {
top:2rem;
position:relative;
}
}
@media (orientation:landscape) and (max-width:841px) {
.FACE {
top:1rem;
position:relative;
}
}
#A1, #A2, #A3 {
filter:drop-shadow(0px 0px 1px #ff5400);
transition: 0.18s linear;
}
.LANGUAGE {
filter:drop-shadow(1px 1px 95px #40000012)sepia(40%)!important;
text-shadow:0px -2px 1px #000;
}
.HIGHLANGUAGELOW {
filter:drop-shadow(1px 1px 1px #000)invert(1)hue-rotate(-99deg)!important;
}
#HIGHLOWWORD {
text-shadow:0px 3px 0px #000, 0px 1px 0px #fff;
filter:drop-shadow(1px -1px 4px #ff440054);
transition: 0.18s linear;
}
#HIGHLOWWORD9 {
font-family:Designer;
text-shadow:0px 3px 0px #000, 0px 1px 0px #fff;
filter:drop-shadow(-1px 0px 4px #ff440054);
transition:0.18s linear;
}
.CALLINE {
min-height:40px;
min-width:100%;
background:url('CalLine.png');
background-repeat:no-repeat;
background-size:cover;
object-fit:scale-down;
pointer-events:none;
user-select:none;
}
.MindRoom {
display:flex;
align-items:center;
justify-content:center;
position:fixed;
width:100vw;
height:100vh;
bottom:0;
right:0;
background-color:#000;
z-index:2;
visibility:hidden;
opacity:0;
overflow:overlay;
transition:.24s ease-in-out;
}
.MindRoom-inner {
top:0;
right:0;
position:absolute;
display:inline;
align-items:center;
justify-content:center;
max-width:100vw;
max-height:100vh;
width:100vw;
height:100vh;
transform:rotate(0);
transition:.18s ease-in-out;
}
.MindRoom__photo {
display:inline;
align-items:center;
justify-content:center;
width:100vw;
height:100vh;
overflow:overlay;
user-select:none;
pointer-events:none;
}
.MindRoom__photo img {
height:auto;
width:100%;
user-select:none;
pointer-events:none;
}
.MindRoom:target {
visibility:visible;
opacity:1;
}
.MindRoom:target .MindRoom-inner {
top:0;
right:0;
transform:rotate(0);
}
.MindRoom__close {
position:fixed;
top:1.8vh;
left:2.24vw;
border:1px #ffffff54;
border-style:ridge;
width:2.45rem;
height:2.45rem;
border-radius:45%;
background-color:#540007;
z-index:4;
display:flex;
justify-content:center;
align-items:center;
vertical-align:middle;
text-align:center;
font-family:DIAGRAPH9;
color:#ff4400a9;
font-size:4em;
font-weight:900;
text-shadow:-2px 2px 1px #000, 0px 0px 0px #dd9b54, 0px 0px 4px #000;
filter:drop-shadow(3px 2px 1px #000);
cursor:pointer;
text-decoration:none;
user-select:none;
transition:.118s linear;
}
.MindRoom__close:hover {
color:#ffffff54;
background-color:#ffffff54;
text-shadow:0 0 9px #000, 0px 1px 1px #ffffff54, 0px 0px 1px #ff0000;
}
#MindRoom::-webkit-scrollbar-track
{
box-shadow:inset 0 0 4px #000;
background-color:#540007;
display:block;
visibility: visible;
}

#MindRoom::-webkit-scrollbar
{
width:9px;
background-color:#441000;
display:block;
visibility:visible;
}

#MindRoom::-webkit-scrollbar-thumb
{
background-color:#ff0000;
box-shadow:inset 0px 0px 3px #000;
display:block;
visibility:visible;
}
.EDoubleG {
display:flex;
align-items:center;
justify-content:center;
position:fixed;
width:100vw;
height:100vh;
bottom:0;
right:0;
background-color:#000;
z-index:2;
visibility:hidden;
opacity:0;
overflow:overlay;
transition:.24s ease-in-out;
}
.EDoubleG-inner {
top:0;
right:0;
position:absolute;
display:inline;
align-items:center;
justify-content:center;
max-width:100vw;
max-height:100vh;
width:100vw;
height:100vh;
transform:rotate(0);
transition:.18s ease-in-out;
}
.EDoubleG__photo {
display:inline;
align-items:center;
justify-content:center;
width:100vw;
height:100vh;
overflow:overlay;
user-select:none;
pointer-events:none;
}
.EDoubleG__photo img {
width:auto;
height:auto;
user-select:none;
pointer-events:none;
}
.EDoubleG:target {
visibility: visible;
opacity: 1;
}
.EDoubleG:target .EDoubleG-inner {
bottom: 0;
right: 0;
transform: rotate(0);
}
.EDoubleG__close {
position:fixed;
top:1.8vh;
left:2.24vw;
border:1px #ffffff54;
border-style:ridge;
width:2.45rem;
height:2.45rem;
border-radius:45%;
background-color:#540007;
z-index:4;
display:flex;
justify-content:center;
align-items:center;
vertical-align:middle;
text-align:center;
font-family:DIAGRAPH9;
color:#ff4400a9;
font-size:4em;
font-weight:900;
text-shadow:-2px 2px 1px #000, 0px 0px 0px #dd9b54, 0px 0px 4px #000;
filter:drop-shadow(3px 2px 1px #000);
cursor:pointer;
text-decoration:none;
user-select:none;
transition:.118s linear;
}
.EDoubleG__close:hover {
color:#ffffff54;
background-color:#ffffff54;
text-shadow:0 0 9px #000, 0px 1px 1px #ffffff54, 0px 0px 1px #ff0000;
}
#EDoubleG::-webkit-scrollbar-track
{
box-shadow:inset 0 0 4px #000;
background-color:#540007;
display:block;
visibility: visible;
}

#EDoubleG::-webkit-scrollbar
{
width:9px;
background-color:#441000;
display:block;
visibility:visible;
}

#EDoubleG::-webkit-scrollbar-thumb
{
background-color:#ff0000;
box-shadow:inset 0px 0px 3px #000;
display:block;
visibility:visible;
}
.Websites {
display:flex;
align-items:center;
justify-content:center;
position:fixed;
width:100vw;
height:100vh;
bottom:0;
right:0;
background-color:#000;
z-index:2;
visibility:hidden;
opacity:0;
overflow:overlay;
transition:.24s ease-in-out;
}
.Websites-inner {
top:0;
right:0;
position:absolute;
display:inline;
align-items:center;
justify-content:center;
max-width:100vw;
max-height:100vh;
width:100vw;
height:100vh;
transform:rotate(0);
transition:.18s ease-in-out;
}
.Websites__photo {
display:inline;
align-items:center;
justify-content:center;
width:100vw;
height:100vh;
overflow:overlay;
user-select:none;
pointer-events:none;
}
.Websites__photo img {
height:auto;
width:auto;
user-select:none;
pointer-events:none;
}
.Websites:target {
visibility:visible;
opacity:1;
}
.Websites:target .Websites-inner {
bottom:0;
right:0;
transform:rotate(0);
}
.Websites__close {
position:fixed;
top:1.8vh;
left:2.24vw;
border:1px #ffffff54;
border-style:ridge;
width:2.45rem;
height:2.45rem;
border-radius:45%;
background-color:#540007;
z-index:4;
display:flex;
justify-content:center;
align-items:center;
vertical-align:middle;
text-align:center;
font-family:DIAGRAPH9;
color:#ff4400a9;
font-size:4em;
font-weight:900;
text-shadow:-2px 2px 1px #000, 0px 0px 0px #dd9b54, 0px 0px 4px #000;
filter:drop-shadow(3px 2px 1px #000);
cursor:pointer;
text-decoration:none;
user-select:none;
transition:.118s linear;
}
.Websites__close:hover {
color:#ffffff54;
background-color:#ffffff54;
text-shadow:0 0 9px #000, 0px 1px 1px #ffffff54, 0px 0px 1px #ff0000;
}
#Websites::-webkit-scrollbar-track
{
box-shadow:inset 0 0 4px #000;
background-color:#540007;
display:block;
visibility: visible;
}

#Websites::-webkit-scrollbar
{
width:9px;
background-color:#441000;
display:block;
visibility:visible;
}

#Websites::-webkit-scrollbar-thumb
{
background-color:#ff0000;
box-shadow:inset 0px 0px 3px #000;
display:block;
visibility:visible;
}
.Websites__text {
width:81vw;
display:inline-block;
justify-content:center;
align-items:center;
vertical-align:middle;
text-align:center;
}
.Websites__text h1 {
font-family:Designer;
word-spacing:18px;
font-weight:100;
letter-spacing:2px;
margin-block-start:4vh;
margin-block-end:4vh;
overflow:revert;
overflow-wrap:revert;
text-align:center;
text-align-last:center;
justify-content:center;
align-items:center;
vertical-align:middle;
font-size:4vw;
color:#810000;
text-shadow:-2px 2px 1px #000, 0px 0px 0px #dd9b54, 0px 1px 3px #fff;
filter:drop-shadow(3px 2px 1px #000);
transition:.081s ease-in-out;
}
.Websites__text p {
font-family:Designer;
text-shadow:0px 3px 0px #000, 0px 1px 0px #fff;
filter:drop-shadow(-1px 0px 4px #ff440054);
transition:0.18s linear;
font-size:2.34vh;
white-space:normal;
line-height:27px;
letter-spacing:0.18rem;
word-spacing:4px;
text-align:center;
text-align-last:center;
justify-content:center;
align-items:center;
vertical-align:middle;
color:#ffffffc9;
margin-block-start:4vh;
margin-block-end:1.44vh;
user-select:none;
}
.Websites__text p a {
color:#b18971;
letter-spacing:3px;
text-shadow:0px 3px 0px #000, 0px 1px 0px #f40, 0px 0px 2px #000;
font-weight:900;
transition:.14s linear;
}
.Websites__text p a:hover {
text-shadow:0px 3px 0px #000, 0px 1px 0px #fff, 0px 0px 2px #ff4400;
color:#ffffffc9;
}
.Websites__text p span {
color:#f70;
letter-spacing:3px;
text-shadow:-2px 2px 1px #000, 0px 0px 0px #ff4400a9, 1px 1px 1px #fff;
font-weight:900;
font-variant:small-caps;
}
.Websites__text .prevJcshT {
display:block;
text-align:right;
text-align-last:right;
justify-content:right;
align-items:center;
vertical-align:middle;
position:relative;
top:-1px;
left:4.5vw;
font-size:.9vw;
letter-spacing:1px;
font-weight:100;
margin-block-start:0;
margin-block-end:0;
text-shadow:0px 3px 0px #000, 0px 1px 0px #f40, 0px 0px 2px #000;
color:#745d41;
font-variant:small-caps;
}
.Covers {
display:flex;
align-items:center;
justify-content:center;
position:fixed;
width:100vw;
height:100vh;
right:0;
bottom:0;
background-color:#161616;
z-index:2;
visibility:hidden;
opacity:0;
overflow:overlay;
transition:.24s ease-in-out;
}
.Covers-inner {
top:0;
right:0;
position:absolute;
display:inline;
align-items:center;
justify-content:center;
max-width:100vw;
max-height:100vh;
width:100vw;
height:100vh;
transform:rotate(0);
transition:.18s ease-in-out;
}
.Covers__photo {
display:inline;
align-items:center;
justify-content:center;
width:100vw;
height:100vh;
overflow:overlay;
user-select:none;
pointer-events:none;
}
.Covers__photo img {
height:auto;
width:auto;
user-select:none;
pointer-events:none;
}
.Covers:target {
visibility:visible;
opacity:1;
}
.Covers:target .Covers-inner {
bottom:0;
right:0;
transform:rotate(0);
}
.Covers__close {
position:fixed;
top:1.8vh;
left:2.24vw;
border:1px #ffffff54;
border-style:ridge;
width:2.45rem;
height:2.45rem;
border-radius:45%;
background-color:#540007;
z-index:4;
display:flex;
justify-content:center;
align-items:center;
vertical-align:middle;
text-align:center;
font-family:DIAGRAPH9;
color:#ff4400a9;
font-size:4em;
font-weight:900;
text-shadow:-2px 2px 1px #000, 0px 0px 0px #dd9b54, 0px 0px 4px #000;
filter:drop-shadow(3px 2px 1px #000);
cursor:pointer;
text-decoration:none;
user-select:none;
transition:.118s linear;
}
.Covers__close:hover {
color:#ffffff54;
background-color:#ffffff54;
text-shadow:0 0 9px #000, 0px 1px 1px #ffffff54, 0px 0px 1px #ff0000;
}
*::-webkit-scrollbar-track
{
box-shadow:inset 0 0 4px #000;
background-color:#540007;
display:block;
visibility: visible;
}

*::-webkit-scrollbar
{
width:9px;
background-color:#441000;
display:block;
visibility:visible;
}

*::-webkit-scrollbar-thumb
{
background-color:#ff0000;
box-shadow:inset 0px 0px 3px #000;
display:block;
visibility:visible;
}
*::-webkit-scrollbar, *::-webkit-scrollbar:horizontal, *::-webkit-scrollbar:vertical {
width:9px;
background-color:#441000;
display:block;
visibility:visible;
}
.Covers__text {
width:81vw;
display:inline-block;
justify-content:center;
align-items:center;
vertical-align:middle;
text-align:center;
}
.Covers__text h1 {
font-family:Designer;
word-spacing:18px;
font-weight:100;
letter-spacing:2px;
margin-block-start:4vh;
margin-block-end:4vh;
overflow:revert;
overflow-wrap:revert;
text-align:center;
text-align-last:center;
justify-content:center;
align-items:center;
vertical-align:middle;
font-size:4vw;
color:#810000;
text-shadow:-2px 2px 1px #000, 0px 0px 0px #dd9b54, 0px 1px 3px #fff;
filter:drop-shadow(3px 2px 1px #000);
transition:.081s ease-in-out;
}
.Covers__text p {
font-family:Designer;
text-shadow:0px 3px 0px #000, 0px 1px 0px #fff;
filter:drop-shadow(-1px 0px 4px #ff440054);
transition:0.18s linear;
font-size:1.24rem;
white-space:normal;
line-height:27px;
letter-spacing:0.18rem;
word-spacing:4px;
text-align:center;
text-align-last:center;
justify-content:center;
align-items:center;
vertical-align:middle;
color:#ffffffc9;
margin-block-start:4vh;
margin-block-end:1.44vh;
user-select:none;
}
@media (max-width:900px) {
.Covers__text p {
font-family:Designer;
text-shadow:0px 3px 0px #000, 0px 1px 0px #fff;
filter:drop-shadow(-1px 0px 4px #ff440054);
transition:0.18s linear;
font-size:1.24rem;
white-space:normal;
line-height:27px;
letter-spacing:0.18rem;
word-spacing:4px;
text-align:center;
text-align-last:center;
justify-content:center;
align-items:center;
vertical-align:middle;
color:#ffffffc9;
margin-block-start:3.21vh;
margin-block-end:4.8vh;
user-select:none;
}
}
.Covers__text p a {
color:#b18971;
letter-spacing:3px;
text-shadow:0px 3px 0px #000, 0px 1px 0px #f40, 0px 0px 2px #000;
font-weight:900;
transition:.14s linear;
}
.Covers__text p a:hover {
text-shadow:0px 3px 0px #000, 0px 1px 0px #fff, 0px 0px 2px #ff4400;
color:#ffffffc9;
}
.Covers__text p span {
color:#f70;
letter-spacing:3px;
text-shadow:-2px 2px 1px #000, 0px 0px 0px #ff4400a9, 1px 1px 1px #fff;
font-weight:900;
font-variant:small-caps;
}
@media (max-width:418px) {
.Covers__text p span {
font-size:1rem;
color:#f70;
letter-spacing:3px;
text-shadow:-2px 2px 1px #000, 0px 0px 0px #ff4400a9, 1px 1px 1px #fff;
font-weight:900;
font-variant:small-caps;
}
}
@media (max-width:378px) {
.Covers__text p span {
font-size:1rem;
color:#f70;
line-break:anywhere;
letter-spacing:3px;
text-shadow:-2px 2px 1px #000, 0px 0px 0px #ff4400a9, 1px 1px 1px #fff;
font-weight:900;
font-variant:small-caps;
}
}
.Covers__text .prevJcshT {
display:block;
text-align:right;
text-align-last:right;
justify-content:right;
align-items:center;
vertical-align:middle;
position:relative;
top:-1px;
left:4.7vw;
font-size:1rem;
letter-spacing:1px;
font-weight:100;
margin-block-start:0;
margin-block-end:0;
text-shadow:0px 3px 0px #000, 0px 1px 0px #f40, 0px 0px 2px #000;
color:#745d41;
font-variant:small-caps;
}
.WORDOFZXAC478UO9WmIHBible {
display:inline-block;
width:99vw;
margin:0;
user-select:none;
}
p.WORDOFZXAC478UO9WmIH {
font-size:5rem;
font-weight:100;
word-spacing:18px;
color:#1c0c0c;
font-family:Designer;
letter-spacing:4px;
margin:0;
margin-block-start:24px;
margin-block-end:0;
text-align:center;
text-align-last:center;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(0px 0px 4px #000);
transition:.24s ease-in-out;
}
p.WORDOFZXAC478UO9WmIH span {
font-variant:small-caps;
text-shadow:-2px 3px 2px #000, 0px 2px 0px #f40;
transition:.24s ease-in-out;
}
@media (max-width:874px) {
p.WORDOFZXAC478UO9WmIH {
font-size:5rem;
font-weight:100;
word-spacing:18px;
color:#1c0c0c;
font-family:Designer;
letter-spacing:4px;
margin:0;
text-indent:4.8rem;
margin-block-start:24px;
margin-block-end:0;
text-align:center;
text-align-last:center;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(0px 0px 4px #000);
transition:.24s ease-in-out;
}
}
@media (max-width:584px) {
p.WORDOFZXAC478UO9WmIH {
font-size:4rem;
font-weight:100;
word-spacing:18px;
color:#1c0c0c;
font-family:Designer;
letter-spacing:4px;
margin:0;
text-indent:4rem;
margin-block-start:24px;
margin-block-end:0;
text-align:center;
text-align-last:center;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(0px 0px 4px #000);
transition:.24s ease-in-out;
}
}
@media (max-width:471px) {
p.WORDOFZXAC478UO9WmIH {
font-size:3.4rem;
font-weight:100;
word-spacing:8px;
color:#1c0c0c;
font-family:Designer;
letter-spacing:1px;
margin:0;
text-indent:4rem;
margin-block-start:24px;
margin-block-end:0;
text-align:center;
text-align-last:center;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(0px 0px 4px #000);
transition:.24s ease-in-out;
}
@media (max-width:408px) {
p.WORDOFZXAC478UO9WmIH {
font-size:3.21rem;
font-weight:100;
word-spacing:7px;
color:#1c0c0c;
font-family:Designer;
letter-spacing:4px;
margin:0;
text-indent:3.4rem;
margin-block-start:24px;
margin-block-end:0;
text-align:center;
text-align-last:center;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(0px 0px 4px #000);
transition:.24s ease-in-out;
}
}
@media (max-width:389px) {
p.WORDOFZXAC478UO9WmIH {
font-size:3.14rem;
font-weight:100;
word-spacing:-4px;
color:#1c0c0c;
font-family:Designer;
letter-spacing:4px;
margin:0;
text-indent:3.4rem;
margin-block-start:24px;
margin-block-end:0;
text-align:center;
text-align-last:center;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(0px 0px 4px #000);
transition:.24s ease-in-out;
}
}
@media (max-width:367px) {
p.WORDOFZXAC478UO9WmIH {
font-size:3rem;
font-weight:100;
word-spacing:0px;
color:#1c0c0c;
font-family:Designer;
letter-spacing:2px;
margin:0;
text-indent:4rem;
margin-block-start:24px;
margin-block-end:0;
text-align:center;
text-align-last:center;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(0px 0px 4px #000);
transition:.24s ease-in-out;
}
}
@media (max-width:348px) {
p.WORDOFZXAC478UO9WmIH {
font-size:3rem;
font-weight:100;
word-spacing:0px;
color:#1c0c0c;
font-family:Designer;
letter-spacing:2px;
margin:0;
text-indent:3.24rem;
margin-block-start:24px;
margin-block-end:0;
text-align:center;
text-align-last:center;
text-shadow:-2px 2px 1px #000, 0px -1px 0px #f40;
filter:drop-shadow(0px 0px 4px #000);
transition:.24s ease-in-out;
}
}
.Tibbles {
	
}