@import "%Cal.css";
::-webkit-scrollbar, ::-webkit-scrollbar:horizontal, ::-webkit-scrollbar:vertical {
display:none;
visibility:hidden;
width:0px;
height:0px;
}
*::-webkit-scrollbar, *::-webkit-scrollbar:horizontal, *::-webkit-scrollbar:vertical {
display:none;
visibility:hidden;
width:0px;
height:0px;
}
* {
overflow:hidden;
}
::selection {
color:#fff;
background-color:#fff;
}
body {
background-color:#141414;
margin:0;
padding:0;
overflow:hidden;
}
@font-face {
font-family:CS;
src:url('../Dia/Word.ttf') format('truetype');
}
.God {
height:100vh;
width:100vw;
display:flex;
justify-content:center;
flex-flow:wrap;
position:absolute;
}
.wrapsForGod {
background:url('WAR.png');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
background-size:contain;
position:relative;
justify-content:center;
animation-name:G;
animation-delay:4s;
animation-duration:7s;
animation-fill-mode:forwards;
animation-direction:normal;
animation-iteration-count:1;
animation-timing-function:ease;
mix-blend-mode:color-dodge;
align-items:center;
height:100vh;
width:1024px;
margin:0;
padding:0;
display:flex;
flex-flow:column;
gap:7vh;
overflow:hidden;
}
@media (max-width:1234px) {
.wrapsForGod {
background:url('WAR.png');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
background-size:cover;
position:relative;
justify-content:center;
animation-name:G;
animation-delay:4s;
animation-duration:7s;
animation-fill-mode:forwards;
animation-direction:normal;
animation-iteration-count:1;
animation-timing-function:ease;
mix-blend-mode:color-dodge;
align-items:center;
height:100vh;
width:1024px;
margin:0;
padding:0;
display:flex;
flex-flow:column;
gap:7vh;
overflow:hidden;
}
}
@media (max-width:1000px) {
.wrapsForGod {
background:url('WAR.png');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
background-size:cover;
position:relative;
justify-content:center;
animation-name:G;
animation-delay:4s;
animation-duration:7s;
animation-fill-mode:forwards;
animation-direction:normal;
animation-iteration-count:1;
animation-timing-function:ease;
mix-blend-mode:color-dodge;
align-items:center;
height:100vh;
width:1024px;
margin:0;
padding:0;
display:flex;
flex-flow:column;
gap:7vh;
overflow:hidden;
}
}
@media (max-width:977px) {
.wrapsForGod {
background:url('WAR.png');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
background-size:cover;
position:relative;
justify-content:center;
animation-name:G;
animation-delay:4s;
animation-duration:7s;
animation-fill-mode:forwards;
animation-direction:normal;
animation-iteration-count:1;
animation-timing-function:ease;
mix-blend-mode:color-dodge;
align-items:center;
height:100vh;
width:1024px;
margin:0;
padding:0;
display:flex;
flex-flow:column;
gap:4vh;
overflow:hidden;
}
}
@media (max-width:588px) {
.wrapsForGod {
background:url('WAR.png');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
background-size:cover;
position:relative;
justify-content:center;
animation-name:G;
animation-delay:4s;
animation-duration:7s;
animation-fill-mode:forwards;
animation-direction:normal;
animation-iteration-count:1;
animation-timing-function:ease;
mix-blend-mode:color-dodge;
align-items:center;
height:100vh;
width:1024px;
margin:0;
padding:0;
display:flex;
flex-flow:column;
gap:0;
overflow:hidden;
}
}
.wrapsForGod____ {
background:url('WAR_RIGHTS.png');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
background-size:contain;
position:relative;
justify-content:center;
animation-name:GS;
animation-delay:.14s;
animation-duration:24s;
animation-fill-mode:forwards;
animation-direction:normal;
animation-iteration-count:1;
animation-timing-function:ease;
mix-blend-mode:normal;
align-items:center;
height:100vh;
width:1024px;
margin:0;
padding:0;
display:flex;
flex-flow:column;
gap:7vh;
overflow:hidden;
opacity:0;
}
@media (max-width:1234px) {
.wrapsForGod____ {
background:url('WAR_RIGHTS.png');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
background-size:cover;
position:relative;
justify-content:center;
animation-name:GS;
animation-duration:7s;
animation-fill-mode:forwards;
animation-direction:normal;
animation-iteration-count:1;
animation-timing-function:ease;
mix-blend-mode:normal;
align-items:center;
height:100vh;
width:1024px;
margin:0;
padding:0;
display:flex;
flex-flow:column;
gap:7vh;
overflow:hidden;
opacity:0;
}
}
@media (max-width:1000px) {
.wrapsForGod____ {
background:url('WAR_RIGHTS.png');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
background-size:cover;
position:relative;
justify-content:center;
animation-name:GS;
animation-duration:7s;
animation-fill-mode:forwards;
animation-direction:normal;
animation-iteration-count:1;
animation-timing-function:ease;
mix-blend-mode:normal;
align-items:center;
height:100vh;
width:1024px;
margin:0;
padding:0;
display:flex;
flex-flow:column;
gap:7vh;
overflow:hidden;
opacity:0;
}
}
@media (max-width:977px) {
.wrapsForGod____ {
background:url('WAR_RIGHTS.png');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
background-size:cover;
position:relative;
justify-content:center;
animation-name:GS;
animation-duration:7s;
animation-fill-mode:forwards;
animation-direction:normal;
animation-iteration-count:1;
animation-timing-function:ease;
mix-blend-mode:normal;
align-items:center;
height:100vh;
width:1024px;
margin:0;
padding:0;
display:flex;
flex-flow:column;
gap:4vh;
overflow:hidden;
opacity:0;
}
}
@media (max-width:588px) {
.wrapsForGod____ {
background:url('WAR_RIGHTS.png');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
background-size:cover;
position:relative;
justify-content:center;
animation-name:GS;
animation-duration:7s;
animation-fill-mode:forwards;
animation-direction:normal;
animation-iteration-count:1;
animation-timing-function:ease;
mix-blend-mode:normal;
align-items:center;
height:100vh;
width:1024px;
margin:0;
padding:0;
display:flex;
flex-flow:column;
gap:0;
overflow:hidden;
opacity:0;
}
}
p {
color:#480000;
font-family:CS, serif;
font-size:calc(14px + 2.4vh);
font-weight:100;
text-shadow:1px -1px 1px #fff, -1px 1px 2px #242424, -3px 2px 2px #414141, 0px -1px 0px #fff;
-webkit-text-stroke:0.78px #000;
filter:drop-shadow(1px 1px 0px #000);
letter-spacing:0px;
word-spacing:4px;
line-break:strict;
line-height:4.124vh;
text-align:center;
text-align-last:center;
font-variant:petite-caps;
margin-block-start:0;
margin-block-end:2vh;
margin-inline-start:4vw;
margin-inline-end:4vw;
animation-name:CS;
animation-duration:2s;
animation-fill-mode:forwards;
animation-direction:normal;
animation-iteration-count:1;
animation-timing-function:ease;
}
@media (max-width:700px) {
p {
color:#480000;
font-family:CS, serif;
font-size:calc(14px + 1.8vh);
font-weight:100;
text-shadow:1px -1px 1px #fff, -1px 1px 2px #242424, -3px 2px 2px #414141, 0px -1px 0px #fff;
-webkit-text-stroke:0.78px #000;
filter:drop-shadow(1px 1px 0px #000);
letter-spacing:0px;
word-spacing:4px;
line-break:strict;
line-height:4.124vh;
text-align:center;
text-align-last:center;
font-variant:petite-caps;
margin-block-start:0;
margin-block-end:2vh;
margin-inline-start:4vw;
margin-inline-end:4vw;
animation-name:CS;
animation-duration:2s;
animation-fill-mode:forwards;
animation-direction:normal;
animation-iteration-count:1;
animation-timing-function:ease;
}
}
@media (max-width:477px) {
p {
color:#480000;
font-family:CS, serif;
font-size:calc(14px + 1.4vh);
font-weight:100;
text-shadow:1px -1px 1px #fff, -1px 1px 2px #242424, -3px 2px 2px #414141, 0px -1px 0px #fff;
-webkit-text-stroke:0.78px #000;
filter:drop-shadow(1px 1px 0px #000);
letter-spacing:0px;
word-spacing:4px;
line-break:strict;
line-height:4.124vh;
text-align:center;
text-align-last:center;
font-variant:petite-caps;
margin-block-start:0;
margin-block-end:2vh;
margin-inline-start:4vw;
margin-inline-end:4vw;
animation-name:CS;
animation-duration:2s;
animation-fill-mode:forwards;
animation-direction:normal;
animation-iteration-count:1;
animation-timing-function:ease;
}
}
@media (max-width:420px) {
p {
color:#480000;
font-family:CS, serif;
font-size:1.24rem;
font-weight:100;
text-shadow:1px -1px 1px #fff, -1px 1px 2px #242424, -3px 2px 2px #414141, 0px -1px 0px #fff;
-webkit-text-stroke:0.78px #000;
filter:drop-shadow(1px 1px 0px #000);
letter-spacing:0px;
word-spacing:4px;
line-break:strict;
line-height:4.124vh;
text-align:center;
text-align-last:center;
font-variant:petite-caps;
margin-block-start:0;
margin-block-end:2vh;
margin-inline-start:4vw;
margin-inline-end:4vw;
animation-name:CS;
animation-duration:2s;
animation-fill-mode:forwards;
animation-direction:normal;
animation-iteration-count:1;
animation-timing-function:ease;
}
}
@media (max-width:378px) {
p {
color:#480000;
font-family:CS, serif;
font-size:1.18rem;
font-weight:100;
text-shadow:1px -1px 1px #fff, -1px 1px 2px #242424, -3px 2px 2px #414141, 0px -1px 0px #fff;
-webkit-text-stroke:0.78px #000;
filter:drop-shadow(1px 1px 0px #000);
letter-spacing:0px;
word-spacing:4px;
line-break:strict;
line-height:4.124vh;
text-align:center;
text-align-last:center;
font-variant:petite-caps;
margin-block-start:0;
margin-block-end:2vh;
margin-inline-start:4vw;
margin-inline-end:4vw;
animation-name:CS;
animation-duration:2s;
animation-fill-mode:forwards;
animation-direction:normal;
animation-iteration-count:1;
animation-timing-function:ease;
}
}
@keyframes GS {
0% {
opacity:0;
}
100% {
opacity:1;
}
}
@keyframes CS {
0% {
color:#480000;
text-shadow:1px -1px 1px #fff, -1px 1px 2px #242424, -3px 2px 2px #414141, 0px -1px 0px #fff;
filter:drop-shadow(1px 1px 1px #000);
}
100% {
color:#fff;
text-shadow:1px -1px 1px #fff, -1px 1px 2px #242424, -3px 2px 2px #414141, 0px -1px 0px #fff;
filter:drop-shadow(1px 1px 0px #000);
}
}
@keyframes G {
0% {
opacity:1;
}
100% {
opacity:0;
}
}