@charset "utf-8"; @media (max-aspect-ratio: _ 1.9 / 1) {
    .BOOKS {
        width: 37%;
    }

    .BOOKS_gradient {
        width: 33.28%;
    }

    .Book {
        font-size: calc(2.08vh + 2.8vw);
    }

    .Book:nth-child(66) {
        font-size: calc(1.4vh + 2.8vw);
    }

    .Book p i {
        font-size: calc(1.04vh + 1.04vw);
    }

    .WRITE___ {
        margin: auto;
        width: min-content;
        font-size: calc(10.4vh + 7.4vw);
        line-height: 19vh;
    }

    .LANGUAGEAREA_wrapper {
        margin: 0 auto auto auto;
        height: 48%;
        width: 80.7%;
        justify-content: center;
        padding: .74% 0 0 0;
    }

    .VERSEREADING_wrapper {
    font-size: calc(.74vh + .48vw);
    }

    .LANGUAGEAREA_titles {
        margin: auto;
        height: 48%;
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        row-gap: calc(.74vh + .74vw);
        align-items: center;
    }

    .NameArea {
        margin: auto;
    }

    .Name {
        font-size: calc(1.4vh + 1.4vw);
    }

    .Books_ {
        font-size: 90%;
    }

    .Number {
        font-size: 90%;
    }

    .LANGUAGEAREA_languageNames {
        margin: auto;
        font-size: calc(.74vh + .74vw);
        bottom: 4.8%;
    }

    .LANGUAGEAREA_languageNames span {
        margin: calc(.28vh + .28vw) 0 calc(.28vh + .28vw);
    }
}

@media (max-aspect-ratio: 1.4 / 1) {
    .VERSEREADING_wrapper {
    font-size: calc(.74vh + .74vw);
    }

    .Name {
        font-size: calc(1.9vh + 1.4vw);
    }

    .LANGUAGEAREA_languageNames {
    font-size: calc(.74vh + .9vw);
    }
}

@media (max-aspect-ratio: 1.04 / 1) {
    .LANGUAGEAREA_languageNames span {
        margin: calc(.28vh + .48vw) 0 calc(.28vh + .48vw);
    }
}


