*::-webkit-scrollbar {
display:none;
visibility:hidden;
scrollbar-width:none;
-ms-overflow-style:none;
}
body {
background:url('../Skin.png');
background-repeat:repeat;
background-size:cover;
text-align:center;
margin:0px;
scrollbar-width:none;
-ms-overflow-style:none;
}@font-face {
font-family: 'DIAGRAPH';
src: url('../Dia/Dia.otf') format('opentype');
}::-webkit-scrollbar, ::-webkit-scrollbar:horizontal, ::-webkit-scrollbar:vertical {
visibility:hidden;
width:0px;
scrollbar-width:none;
-ms-overflow-style:none;
display:none;
}::-webkit-scrollbar-corner {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-thumb {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-track-piece {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-button {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-track {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-corner {
visibility:hidden;
width:0px;
}::-moz-selection {
color:#450000;
background:#ff000018;
}::selection {
color:#450000;
background:#ff000018;
}
.WORD {
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.HIGHLOWWORDOR {
margin-top:3px;
margin-bottom:54px;
padding-right:45px;
padding-left:45px;
display:inline-flex;
justify-content:space-around;
width:94%;
}
p.HIGHLOWWORDER {
font-size:18px;
text-align: center;
text-shadow:1px 15px 0px #000;
white-space: nowrap;
font-family:DIAGRAPH;
letter-spacing:0.06rem;
color:#540000;
}
p.WORDOF {
font-size:1.8vw;
font-weight:bold;
font-family:DIAGRAPH;
line-height:18px;
letter-spacing:1px;
margin-top:121px;
padding-right:53px;
padding-left:53px;
color:#810000;
transition: 0.321s linear;
}
.FACEH {
width:99%;
display:inline;
}
.FACE {
display:inline;
}
#A1, #A2, #A3 {
filter:drop-shadow(2px 1px 1px #450000);
transition: 0.121s linear;
}
.LANGUAGE {
filter:drop-shadow(1px 0px 1px #000)invert(1)hue-rotate(-99deg)!important;
}
.HIGHLANGUAGELOW {
filter:drop-shadow(1px 1px 1px #000)invert(1)hue-rotate(-99deg)!important;
}
#HIGHLOWWORD, #HIGHLOWWORD3, #HIGHLOWWORD5, #HIGHLOWWORD7 {
text-shadow:0px 1px 0px #000;
filter:drop-shadow(1px -18px 0px #f30);
transition: 0.1s linear;
}
#HIGHLOWWORD2, #HIGHLOWWORD4, #HIGHLOWWORD6, #HIGHLOWWORD8 {
transition: 0.21s linear;
}
.CALLINE {
height:37px;
min-height:37px;
max-height:37px;
width:100%;
background:url('../CalLine.png');
background-repeat:repeat;
background-size:cover;
}
