*::-webkit-scrollbar {
display:none;
visibility:hidden;
scrollbar-width:none;
-ms-overflow-style:none;
}
body {
background:url('Skin.png');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center center;
background-size:cover;
text-align:center;
margin:0px;
scrollbar-width:none;
-ms-overflow-style:none;
}@font-face {
font-family: 'DIAGRAPH';
src: url('../Dia/Dia.otf') format('opentype');
} 
@font-face {
font-family: 'DIAGRAPH9';
src: url('../Dia/9.ttf') format('truetype');
} 
a, a:hover, a:focus, a:active {
text-decoration:none;
color:inherit;
}
::-webkit-scrollbar, ::-webkit-scrollbar:horizontal, ::-webkit-scrollbar:vertical {
visibility:hidden;
width:0px;
scrollbar-width:none;
-ms-overflow-style:none;
display:none;
}::-webkit-scrollbar-corner {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-thumb {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-track-piece {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-button {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-track {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-corner {
visibility:hidden;
width:0px;
}::-moz-selection {
color:#450000;
background:#ff000018;
}::selection {
color:#450000;
background:#ff000018;
}
.WORD {
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.HIGHLOWWORDOR {
margin-top:9px;
margin-bottom:45px;
display:inline-flex;
justify-content:space-between;
width:91%;
}
p.HIGHLOWWORDER {
font-size:22px;
text-align: center;
text-shadow:1px 15px 0px #000;
white-space: nowrap;
font-family:DIAGRAPH;
letter-spacing:0.06rem;
color:#540000;
}
p.WORDOF {
font-size:3.21vw;
font-weight:900;
word-spacing:18px;
font-family:DIAGRAPH;
letter-spacing:2px;
margin-top:1vh;
padding-right:5.4vw;
padding-left:3.21vw;
color:#ff5400;
overflow:revert;
overflow-wrap:revert;
text-align:center;
text-align-last:end;
filter:drop-shadow(1px 2px 1px #ff9000);
animation-name:WordSheep9;
animation-duration:2.1s;
animation-iteration-count:1;
transition: 0.54s ease-in-out;
}
.Vari {
position:absolute;
width:100vw;
bottom:0.321vh;
}
p.Vari9 {
position:absolute;
width:100vw;
padding-top:12.3vh;
padding-bottom:5.7vh;
margin-bottom:0;
bottom:0;
font-family:DIAGRAPH9;
color:#450000;
font-weight:900;
font-size:1.8vw;
word-spacing:1vw;
letter-spacing:1px;
text-shadow:18px 18px 9px #300f00, 0px 0px 6px #ffc, 3px 0px 1px rgb(1 1 1), 6px -2px 2px #ffaa1169, 5px 0px 0px #ccc, -9px 0px 18px #000, 23px -1px 9px rgb(1 1 1 / 45%), 21px 0px 1px #5e0000, 0 14px 9px rgb(9 1 255 / 14%);
filter:none;
transition:.81s linear;
}
p.Vari9:hover {
transition:.45s linear;
filter:drop-shadow(1px 27px 27px #ff9000);
}
.Vari9A {
position:absolute;
bottom:0vh;
font-family:DIAGRAPH9;
color:#450000;
font-weight:900;
font-size:2.34vw;
word-spacing:1vw;
letter-spacing:1px;
text-shadow:-43px 4px 2px #ffffcc23, 2px 0px 2px rgb(1 1 1 / 27%), 2px -2px 2px #ffaa1169, 0px 2px 2px #ff554445, 4px 2px 2px #fe591c27;
z-index:-1;
}
p.WORDOF:hover {
text-shadow:0 1px 6px #ccc, 0 -3px 3px #c9c9c9, -4px 1px 5px rgb(1 1 1), 0 2px 0 #b9b9b9, 6px 0px 1px #aaa, 2px 0 0 #ccc, 1px 1px 1px rgb(0 0 0 / 27%), 0 1px 1px rgb(0 0 0 / 10%), 0 14px 9px rgb(0 0 0 / 18%);
transition: 0.321s ease-in-out;
}
@keyframes WordSheep9 {
0% {
text-shadow:0 1px 6px #ccc, 0 -3px 3px #c9c9c9, -4px 1px 5px rgb(1 1 1), 0 2px 0 #b9b9b9, 6px 0px 1px #aaa, 2px 0 0 #ccc, 1px 1px 1px rgb(0 0 0 / 27%), 0 1px 1px rgb(0 0 0 / 10%), 0 14px 9px rgb(0 0 0 / 18%);
}
100% {
text-shadow:inherit;
}
}
.ART {
padding-right:81px;
padding-left:81px;
display:block;
}
.ART IMG {
max-width:100%;
margin:auto;
}
.FACEH {
margin-top:6vh;
width:99vw;
display:inline-block;
}
.FACE {
display:inline-flex;
}
#A1, #A2, #A3 {
filter:drop-shadow(0px 0px 1px #ff5400);
transition: 0.18s linear;
}
.LANGUAGE {
filter:drop-shadow(1px 1px 95px #40000012)sepia(40%)!important;
text-shadow:0px -2px 1px #000;
}
.HIGHLANGUAGELOW {
filter:drop-shadow(1px 1px 1px #000)invert(1)hue-rotate(-99deg)!important;
}
#HIGHLOWWORD, #HIGHLOWWORD9 {
text-shadow:0px 1px 0px #000;
filter:drop-shadow(1px -18px 0px #f30);
transition: 0.18s linear;
}
.CALLINE {
min-height:40px;
min-width:100%;
background:url('CalLine.png');
background-repeat:no-repeat;
background-size:cover;
object-fit:scale-down;
}
.zoom {
display:inline-block;
position: relative;
}
.zoom:after {
content:'';
width:1px; 
height:1px; 
display:block;  
position:absolute; 
top:0;
right:0;
background:none;
}
.zoom img {
display: block;
}
.zoom img::selection { background-color: transparent; }
