*::-webkit-scrollbar {
display:none;
visibility:hidden;
scrollbar-width:none;
-ms-overflow-style:none;
}
body {
background:url('Skindead.png');
background-repeat:repeat;
background-attachment:fixed;
background-position:center center;
background-size:cover;
text-align:center;
margin:0px;
scrollbar-width:none;
-ms-overflow-style:none;
}
@font-face {
font-family: 'DIAGRAPH';
src: url('../Dia/Dia.otf') format('opentype');
}@font-face {
font-family: 'DIAGRAPH2';
src: url('../Dia/BDCalais.ttf') format('truetype');
}@font-face {
font-family: 'DIAGRAPH9';
src: url('../Dia/') format('truetype');
}::-webkit-scrollbar, ::-webkit-scrollbar:horizontal, ::-webkit-scrollbar:vertical {
visibility:hidden;
width:0px;
scrollbar-width:none;
-ms-overflow-style:none;
display:none;
}::-webkit-scrollbar-corner {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-thumb {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-track-piece {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-button {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-track {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-corner {
visibility:hidden;
width:0px;
}::-moz-selection {
color:#450000;
background:#ff000018;
}::selection {
color:#450000;
background:#ff000018;
}
.WORD {
font-color:#fff;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.HIGHLOWWORDOR {
margin-top:9px;
display:inline-flex;
justify-content:space-between;
width:91%;
}
.LGliolgap {
margin-top:12.3vh;
}
p.HIGHLOWWORDER {
font-size:18px;
text-align: center;
text-shadow:1px 15px 0px #000;
white-space: nowrap;
font-family:DIAGRAPH;
letter-spacing:0.06rem;
color:#540000;
}
p.WORDOF {
font-size:1.99vw;
font-weight:900;
line-height:6vh;
word-spacing:18px;
font-family:DIAGRAPH2;
letter-spacing:1px;
margin-top:0px;
color:#000;
padding-right:45px;
padding-left:45px;
text-shadow:0 -2px 3px #ccc,
0 7px 2px #c9c9c9,
0 -4px 9px #bbb,
0 -2px 1px #b9b9b9,
0 7px 0 #aaa,
0 74px 1px rgba(0,0,0,1.1),
0 0 5px rgba(0,0,0,.1),
0 1px 1px rgba(0,0,0,1),
0 55px 5px rgba(0,0,0,.2),
0 5px 10px rgba(0,0,0,.27),
0 10px 10px rgba(0,0,0,.2),
0 20px 20px rgba(0,0,0,.18)!important;
transition: 0.321s linear;
}
p.WORDOF b {
font-weight:900;
}
p.WORDOF9 {
font-size:2.7vw;
font-weight:900;
word-spacing:27vw;
font-family:DIAGRAPH2;
letter-spacing:18px;
margin-top:0px;
text-align:center;
color:#ff5400;
transition: 0.321s linear;
}
p.WORDOF4 {
font-size:2vw;
font-weight:600;
line-height:4.321vh;
word-spacing:15px;
font-family:DIAGRAPH2;
letter-spacing:0px;
margin-top:0px;
padding-right:45px;
padding-left:45px;
color:#ff5400;
transition: 0.321s linear;
}
p.WORDOF4 b {
font-weight:900;
}
p.WORDOF2 {
font-size:2.7vw;
font-weight:900;
word-spacing:27px;
font-family:DIAGRAPH2;
letter-spacing:1px;
margin-top:0px;
padding-right:45px;
padding-left:45px;
color:#ff5400;
transition: 0.321s linear;
}
p.WORDOF2 b {
font-weight:900;
}
.ART {
display:inline;
}
.ART9 {
display:inline;
}
.ART9 IMG {
max-width:49vw;
transition:9s ease-in-out;
}
.ART IMG {
max-width:49vw;
transition:9s ease-in-out;
}
.ART IMG:hover {
filter:hue-rotate(-81deg)sepia(27%)saturate(369%)contrast(145%);
transition:4s ease-in-out;
}
.ART2 {
float:right;
display:inline;
margin-right:54px;
}
.ART2 IMG {
max-width:32.1vw;
}
.ART3 {
float:right;
display:inline;
margin-right:54px;
}
.ART3 IMG {
max-width:45vw;
}
.ART4 {
float:left;
display:inline;
margin-left:45px;
}
.ART_One {
width:49vw;
max-width:49vw;
background:url('Skin.png');
background-repeat:repeat;
background-attachment:fixed;
background-position:center center;
background-size:cover;
}
.ART4 video {
max-width:36.9vw;
object-fit:cover;
}
.ART5 {
margin-left:45px;
}
.ART5 IMG {
max-width:36.9vw;
}
.date9 {
margin-top:15vh;
margin-bottom:23vh;
}
.date9 P {
font-size:0.801vw;
text-align:right;
font-weight:900;
word-spacing:4px;
font-family:DIAGRAPH2;
letter-spacing:0px;
padding-right:45px;
color:#ff5400;
transition: 0.321s linear;
}
.date9NX {
margin-top:18vh;
margin-bottom:54vh;
}
.date9NX P {
font-size:0.801vw;
text-align:right;
font-weight:900;
word-spacing:4px;
font-family:DIAGRAPH2;
letter-spacing:0px;
padding-right:45px;
color:#ff5400;
transition: 0.321s linear;
}
.FACE9 {
display:inline-block;
}
.FACE9DON {
display:table-caption;
width:54vw;
}
#A2, #A3 {
filter:drop-shadow(0px 0px 2px #ff9100);
text-shadow:0px 1px 0px #fff;
transition: 0.18s linear;
}
.LANGUAGE {
filter:drop-shadow(1px 1px 95px #40000012)sepia(40%)!important;
text-shadow:0px -2px 1px #000;
}
.HIGHLANGUAGELOW {
filter:drop-shadow(1px 1px 1px #000)invert(1)hue-rotate(-99deg)!important;
}
#HIGHLOWWORD {
text-shadow:0px 1px 0px #000;
filter:drop-shadow(1px -18px 0px #f30);
transition: 0.18s linear;
}
#HIGHLOWWORD9 {
transition: 0.21s linear;
}
.FFACE {
margin-top:9vh;
}
.FFACE p {
margin-block-start:0px;
}
.CALLINE {
height:37px;
min-height:37px;
max-height:37px;
width:100%;
background:url('CalLinedead.png');
background-repeat:repeat;
background-size:cover;
}
.zoom {
display:inline-block;
position: relative;
}.zoom:after {
content:'';
width:1px; 
height:1px; 
display:block;  
position:absolute; 
top:0;
right:0;
background:none;
}.ARTGODISGOOD {
overflow:hidden;
margin-top:45vh;
margin-right:9vw;
}.ARTGODISGOOD video {
width:98vw;
transform:rotate(111deg);
}
.ART video {
max-width:36.9vw;
}.zoom img {
display: block;
}.zoom img::selection { background-color:transparent;}
.Viewspecifiicc {
margin-top:12.3vh;
}
.calluote91 {
font-size:4.1vw;
font-weight:100;
font-family:DIAGRAPH2;
color:#ff5400;
transition:0.321s linear;
filter:drop-shadow(0px 0px 4px #ff5400)opacity(6%);
position:absolute;
margin-top:-2.7vh;
margin-left:-2vw;
}
.calluote {
float:right;
text-align:right;
font-size:12.3vw;
margin-right:81px;
margin-top:-16.2vh;
font-weight:100;
font-family:DIAGRAPH2;
color:#ff5400;
transition:0.321s linear;
filter:drop-shadow(0px 0px 4px #ff5400)opacity(9%);
-webkit-transform:matrix(-1, 0, 0, 1, 0, 0);
-moz-transform:matrix(-1, 0, 0, 1, 0, 0);
-o-transform:matrix(-1, 0, 0, 1, 0, 0);
transform:matrix(-1, 0, 0, 1, 0, 0);
}
.calluote9End {
float:right;
text-align:right;
font-size:9.12vw;
margin-right:81px;
margin-top:-11.2vh;
font-weight:100;
font-family:DIAGRAPH2;
color:#ff5400;
transition:0.321s linear;
filter:drop-shadow(0px 0px 4px #ff5400)opacity(9%);
-webkit-transform:matrix(-1, 0, 0, 1, 0, 0);
-moz-transform:matrix(-1, 0, 0, 1, 0, 0);
-o-transform:matrix(-1, 0, 0, 1, 0, 0);
transform:matrix(-1, 0, 0, 1, 0, 0);
}
.calluote9 {
font-size:4.32vw;
font-weight:100;
font-family:DIAGRAPH2;
color:#ff5400;
transition:0.321s linear;
filter:drop-shadow(0px 0px 4px #ff5400)opacity(6%);
position:absolute;
margin-top:-2.2vh;
margin-left:-1.29vw;
}