HTML {
--render:81vh;
cursor:Cell;
}
::-webkit-scrollbar, ::-webkit-scrollbar:horizontal, ::-webkit-scrollbar:vertical {
display:none;
visibility:hidden;
width:0px;
height:0px;
}
*::-webkit-scrollbar-thumb, *::-webkit-scrollbar-track, *::-webkit-scrollbar, *::-webkit-scrollbar:vertical, *::-webkit-scrollbar:horizontal {
display:none;
visibility:hidden;
width:0px;
height:0px;
}
* {
cursor:;
}
*, :after, :before {
box-sizing:border-box;
margin:0;
padding:0;
}
::selection {
color:#fff;
background:#ffffff00;
}
a, a:link, a:visited, a:hover, a:focus, a:active {
text-decoration:none;
color:inherit;
}
@font-face {
font-family:'DIAGRAPH';
src: url('    ') format('opentype');
}
BODY {
background:linear-gradient(#f00, #fff, #fff, #f40);
animation-name:_BUFFERSQWONTSLALS;
animation-duration:3s;
animation-iteration-count:1;
animation-direction:normal;
animation-play-state:running;
animation-fill-mode:forwards;
animation-timing-function:cubic-bezier(.18,.14,.27,1);
font-family:sans-serif;
font-weight:100;
font-size:1rem;
}
._GallVectorWRITEINTOLIFE {
--image-background: hsla(0, 0%, 0%, 0.2);
--last-background: none;
--radius: none;
}
._GallVectorWRITEINTOLIFE {
  display: flex;
  flex-wrap: wrap;
  grid-gap:1px;
  margin: 0;
  pointer-events: none;
}
._GallVectorWRITEINTOLIFE:hover > article {
  opacity: 0.7;
}
._GallVectorWRITEINTOLIFE > article {
  flex-grow: calc(var(--width) * (100000 / var(--height)));
  flex-basis: calc((20rem) * (var(--width) / var(--height)));
  aspect-ratio: var(--width)/var(--height);
  position: relative;
  overflow: hidden;
  background: 
            linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
            linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
            linear-gradient(0deg, #333 50%, transparent 0) repeat-y,
            linear-gradient(0deg, #333 50%, transparent 0) repeat-y;
  border-radius:1px;

  pointer-events: auto;
  transition: opacity 250ms linear;
}
._GallVectorWRITEINTOLIFE > article img {
  position: absolute;
  width: 100%;
  height: 100%;
}
._GallVectorWRITEINTOLIFE > article a > picture + details {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FFF;
  text-shadow: 0 0 2px #000;
  padding: 1em;
  text-align: left;
  transition: opacity 250ms linear;
  z-index: 2;
}
._GallVectorWRITEINTOLIFE > article a > picture + details > summary {
  pointer-events: none;
  border: none;
  list-style: none;
}
._GallVectorWRITEINTOLIFE > article figure {
  display: none;
  position: relative;
}
._GallVectorWRITEINTOLIFE > article:target figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  animation: fadeIn 250ms both;
}
._GallVectorWRITEINTOLIFE > article:target figure > a {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
._GallVectorWRITEINTOLIFE > article:target figure > a::after {
  content: "+";
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  z-index: 101;
  color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  text-indent: 0;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  height: 2rem;
  line-height: 1.2rem;
  overflow: hidden;
  transform: rotate(45deg);
  animation: fadeIn 250ms both;
}
._GallVectorWRITEINTOLIFE > article:target figure img {
  position: relative;
  width: auto;
  height: auto;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  animation: fadeIn 500ms both;
  box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.24), 0 0 1rem rgba(0, 0, 0, 0.2);
}
._GallVectorWRITEINTOLIFE > article::after {
  content: " ";
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 0% 80%, rgba(0, 0, 0, 0.501961) 98% 100%);
  pointer-events: none;
  transition: opacity 250ms linear;
  z-index: 1;
}
._GallVectorWRITEINTOLIFE > article:hover {
  opacity: 1;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.14), 0 0 0.25rem rgba(0, 0, 0, 0.12);
}
._GallVectorWRITEINTOLIFE > article:hover::after {
  opacity: 1;
}
._GallVectorWRITEINTOLIFE > article:hover picture + details {
  opacity: 1;
}
._GallVectorWRITEINTOLIFE:after {
  content: " ";
  flex-grow: 4000000000;
  background:#0000;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none;
  }
  1% {
    display: flex;
  }
  100% {
    opacity: 1;
  }
}