@font-face {
font-family:'DIAGRAPH';
src:url('../Dia/Dia.otf') format('opentype');
}@font-face {
font-family:'DIAGRAPH2';
src:url('../Dia/BDCalais.ttf') format('truetype');
}@font-face {
font-family:'DIAGRAPH9';
src:url('../Dia/') format('truetype');
}
*::-webkit-scrollbar {
display:none;
visibility:hidden;
}::-webkit-scrollbar, ::-webkit-scrollbar:horizontal, ::-webkit-scrollbar:vertical {
visibility:hidden;
width:0px;
display:none;
}::-webkit-scrollbar-corner {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-thumb {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-track-piece {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-button {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-track {
visibility:hidden;
width:0px;
}::-webkit-scrollbar-corner {
visibility:hidden;
width:0px;
}::selection {
color:#450000;
background:#ff000018;
}
body {
background:url('Skin_.png');
background-repeat:repeat;
background-attachment:fixed;
background-color:#000;
background-position:center center;
background-size:cover;
text-align:center;
margin:0px;
scrollbar-width:none;
}
a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { text-decoration:none; }
a:active { text-decoration:none; }
.GATE {
margin-top:12.3vh;
}
p.HIGHLOWWORDER {
font-size:18px;
text-align:center;
text-shadow:1px 15px 0px #000;
white-space:nowrap;
font-family:DIAGRAPH;
letter-spacing:0.06rem;
color:#540000;
}
p.WORDOF {
font-size:1.99vw;
font-weight:900;
line-height:6vh;
word-spacing:18px;
font-family:DIAGRAPH2;
letter-spacing:1px;
margin-top:0px;
padding-right:45px;
padding-left:45px;
color:#000;
text-shadow:0 1px 0 #ccc,
0 2px 0 #c9c9c9,
0 3px 0 #bbb,
0 4px 0 #b9b9b9,
0 5px 0 #aaa,
0 6px 1px rgba(0,0,0,1.1),
0 0 5px rgba(0,0,0,.1),
0 1px 3px rgba(0,0,0,.3),
0 3px 5px rgba(0,0,0,.2),
0 5px 10px rgba(0,0,0,.27),
0 10px 10px rgba(0,0,0,.2),
0 20px 20px rgba(0,0,0,.18)!important;
transition:9s linear;
filter:none;
}
p.WORDOF:hover {
transition:1.23s ease-in-out;
filter:drop-shadow(0px 0px 2px #ff9100);
color:#ff8100;
text-shadow:0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,1.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.27), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.18);
}
p.WORDOF b {
font-weight:900;
}
p.WORDOF9 {
font-size:2.7vw;
font-weight:900;
word-spacing:27vw;
font-family:DIAGRAPH2;
letter-spacing:18px;
margin-top:0px;
text-align:center;
color:#ff5400;
transition:0.321s linear;
}
p.WORDOF4 {
font-size:2vw;
font-weight:600;
line-height:4.321vh;
word-spacing:15px;
font-family:DIAGRAPH2;
letter-spacing:0px;
margin-top:0px;
padding-right:45px;
padding-left:45px;
color:#ff5400;
transition:0.321s linear;
}
p.WORDOF4 b {
font-weight:900;
}
p.WORDOF2 {
font-size:4rem;
word-spacing:27px;
font-family:DIAGRAPH;
font-weight:100;
color:#705854;
letter-spacing:0px;
padding-right:45px;
padding-left:45px;
line-height:81px;
text-align:center;
text-align-last:center;
}
p.WORDOF2 b {
font-weight:900;
}
p.WORDOF2::selection {
color:#fff;
background-color:#410000;
}
.FACE9 {
display:inline-block;
}
.FACE9DON {
display:table-caption;
width:54vw;
}
#A2, #A3 {
filter:drop-shadow(2px 1px 1px #fff);
text-shadow:0px -2px 1px #fff, -2px 1px 1px #fff, -5px 2px 0px #000;
transition:.18s linear;
-webkit-text-stroke:1px #f40;
}
.LANGUAGE {
filter:drop-shadow(1px 1px 95px #40000012)sepia(40%)!important;
text-shadow:0px -2px 1px #000;
}
.HIGHLANGUAGELOW {
filter:drop-shadow(1px 1px 1px #000)invert(1)hue-rotate(-99deg)!important;
}
#HIGHLOWWORD9 {
transition:0.21s linear;
}
.CALLINE {
height:37px;
min-height:37px;
max-height:37px;
width:100%;
background:url('CalLinedead.png');
background-repeat:repeat;
background-size:cover;
}