body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  margin: auto;
}
.G____Cast {position:fixed;background: #fff;height: 14px;width:100%;top: 0;z-index: 1;}
.G_Cast {position:fixed;background: #fff;height: 14px;width:100%;bottom:0;z-index: 1;}
.container {
  margin: auto;
  max-width: 1400px;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 14px;
  row-gap: 10px;
}
.gallery article {height:280px;width:400px;}
.gallery article img {height:280px;width:400px;object-fit:cover;}